﻿@model IEnumerable<payrollado.GetAttendance_Result>
@{
    ViewBag.Title = "Cheak";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            @using (Html.BeginForm("Cheak", "EmployeeAttendance", FormMethod.Post))
            {
                <div class="col-md-2">
                    <label>From Date</label>
                    <input type="date" id="AttendanceDatef" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>To Date</label>
                    <input type="date" id="AttendanceDatet" class="form-control" />
                </div>
                <div class="col-md-2">
                    <label>EmployeeType</label>
                    <select id="EmployeeTypeId" name="EmployeeTypeId" class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <input type="submit" id="search" value="search" style="margin-top:30px" />
                </div>
            }
        </div>
        </div>
    </div>
@section Scripts
    {
        @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
        <script type="text/javascript">
            $('#search').click(function () {
                debugger;
                var fdate = "$('#AttendanceDatef').val()";
                var tdate = "$('#AttendanceDatet').val()";
                var info = {

                }
                $.ajax({
                    type: 'Post',
                    url: '/EmployeeSalary/cheak/',
                    data: JSON.stringify(info),
                    contentType: "application/json?charset=utf-8",
                    success: function (data, status, xhr) {
                    },
                });
            });
        </script>
}