﻿@model payrollado.Models.AttendanceModel
@{
    ViewBag.Title = "DataUpdated";
}

<h2>DataUpdated</h2>

<div class="card">
    <div class="card-body">
        @model payrollado.Models.AttendanceModel
        @{
            <form onsubmit="return ajaxpost(this)" id="formsub" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.LeaveTypeId)
                        @Html.DropDownListFor(x => x.LeaveTypeId, null, "---Select---", new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.EmployeeId)
                        @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
                    </div>
                    <div class="col-md-9">
                        @Html.LabelFor(x => x.Reason)
                        @Html.TextAreaFor(x => x.Reason, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttendanceDatef)
                        @Html.TextBoxFor(x => x.AttendanceDatef, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttendanceDatet)
                        @Html.TextBoxFor(x => x.AttendanceDatet, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Attachment)
                        <input type="file" id="AttachmentFile" name="Attachment" value="Upload" />
                        @Html.HiddenFor(x => x.hid)
                        @if (Model.Attachment != null)
                        {
                            <a href="~/PDF/@Model.Attachment">Link </a>
                        }
                    </div>
                </div>
                <button class="btn btn-danger"> Add</button>
            </form>
        }

  </div>
</div>