﻿@model payrollado.Models.AttendanceModel
@{
    ViewBag.Title = "Index";
}
@section Styles
    {
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 80%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Index", "EmployeeAttendance", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.AttendanceDatef)
                    @Html.TextBoxFor(x => x.AttendanceDatef,  new { @class = "form-control", @autocomplete = "off" })
                    @*<span class="error">Please Select a FromDate</span>*@
                    @Html.ValidationMessageFor(x => x.AttendanceDatef, "", new { @style = "color:red" , @autocomplete = "off" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.AttendanceDatet)
                    @Html.TextBoxFor(x => x.AttendanceDatet, new { @class = "form-control", @autocomplete = "off" })
                    @*<span class="error">Please Select a ToDate</span>*@
                    @Html.ValidationMessageFor(x => x.AttendanceDatet, "", new { @style = "color:red" })
                </div>
                @*<div class="col-md-3">
                        @Html.LabelFor(x => x.EmployeeTypeId)
                        @Html.DropDownListFor(x => x.EmployeeTypeId, null, "---SelectList", new { @class = "form-control" })
                    </div>*@
                <div class="col-md-3">
                    <input class="btn btn-primary" style="float:right;margin-top:25px; " type="submit" id="Search" value="Search">
                </div>
            </div>
        }
        @if (Model != null && Model.attendances != null)
        {
            string atttype = "";
            int atttypeid = 1;
            int attval = 0;
            string attclass = "";
            <div class="container-fluid" style="margin-top:30px">
                <table class="table-responsive table-bordered  mytbl" id="mytbl">
                    <thead>
                        <tr>
                            <th>EmployeeID</th>
                            <th>EmployeeName</th>
                            @foreach (var item in Model.attendances.Select(s => new { s.AttendanceDate }).Distinct())
                            {
                                <th class="date">@item.AttendanceDate.Value.ToShortDateString()</th>
                            }
                        </tr>
                    </thead>
                    @foreach (var item in Model.attendances.Select(s => new { s.EmployeeId, s.FirstName , s.DateofJoining }).Distinct())
                    {
                    <tr class="row-select">
                        <td class="EmpId">@item.EmployeeId</td>
                        <td class="EmpNAM">@item.FirstName</td>
                        @foreach (var att in Model.attendances.Where(w => w.EmployeeId == item.EmployeeId).Select(s => new { s.AttendanceId, s.AttendanceDate, s.Markattendance, s.HolidayTitle, s.DateofJoining }).Distinct())
                        {
                            atttypeid = att.Markattendance;
                            atttype = "";
                            attclass = "";
                            if (att.DateofJoining > att.AttendanceDate)
                            {
                                attclass = "disable";
                            }
                            <td class="atdmark @attclass">
                                @if (attclass == "")
                                {
                                    if (att.HolidayTitle != null || att.Markattendance == 4)
                                    {
                                        atttypeid = 4;
                                        atttype = "Holiday";
                                    }
                                    else if (att.Markattendance == 1)
                                    {
                                        atttype = "Present";
                                    }
                                    else if (att.Markattendance == 2)
                                    {
                                        atttype = "Absent";
                                    }
                                    else if (att.Markattendance == 3)
                                    {
                                        atttype = "Leave";
                                    }
                                }
                                <label class="markatd">@atttype</label>
                                @Html.Hidden("attendancetype", atttypeid)
                                @Html.Hidden("attendanceid", att.AttendanceId)
                            </td>
                        }
                    </tr>
                    }
                </table>
            </div>
            <div class="col-md-12">
                <input type="button" class="btn btn-success" style="margin-top:30px;" id="Save" value="Save" />
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

         $(document).ready(function () {
             $('#AttendanceDatef,#AttendanceDatet').datepicker({
                  format: 'dd-MM-yyyy',
                  orientation: "bottom auto",
                  autoclose: true
              });
          });




        $('#AttendanceDatet').change(function () {
            debugger;
            var dat1 = document.getElementById('AttendanceDatef').value;
            var date1 = new Date(dat1);
            var dat2 = document.getElementById('AttendanceDatet').value;
            var date2 = new Date(dat2)
            if (dat2 <= dat1) {
                toastr.options.positionClass = 'toast-bottom-full-width';
                toastr["warning"]("To Date Must Greather than Todate ", "Dear:User");
                $('#AttendanceDatet').val('dd/mm/yyyy');
            }
        })
        $('.atdmark').click(function () {
            if ($(this).hasClass("disable") == false) {
                var cell = $(this);
                debugger;
                var attType = cell.find("#attendancetype");
                var attMark = cell.find(".markatd");

                if (attType.val() == 1) {
                    attType.val(2)
                    attMark.text("Absent")
                }
                else if (attType.val() == 2) {
                    attType.val(1)
                    attMark.text("Present")
                }
                else if (attType.val() == 1) {
                    attType.val(5)
                    attMark.text("Late")
                }
            }
        });
        $('#Save').click(function () {
            debugger;
            var attList = [];
            $("table.mytbl thead .date").each(function () {
                var dateCell = $(this);
                var empList = [];
                var attrow = {};
                $("#mytbl tr").not(':first').each(function () {
                    var emp = {};
                    emp.attid = $($(this).children()[dateCell.index()]).find("#attendanceid").val();
                    emp.empid = $($(this).children()[0]).text();
                    emp.mark = $($(this).children()[dateCell.index()]).find("#attendancetype").val();
                    empList.push(emp);
                });
                attrow.AttDate = $(this).text();
                attrow.Employees = empList;
                attList.push(attrow);
            });
            console.log(JSON.stringify(attList));
            $.ajax({
                type: 'Post',
                url: '/EmployeeAttendance/jsres/',
                contentType: "application/json?charset=utf-8",
                data: JSON.stringify(attList),
                success: function (data) {
                    debugger;
                    $("#Search").click();
                },
            })

        });
                                //$('#Save').click(function () {
                                //    debugger;
                                //    var info = {

                                //    }
                                //    $.ajax({
                                //        type: 'Post',
                                //        url: '/Employee/Index/',
                                //        data: JSON.stringify(info),
                                //        contentType: "application/json?charset=utf-8",
                                //        success: function (data, status, xhr) {
                                //        },
                                //    });
                                //});
    </script>
}
