﻿@model payrollado.Models.AttendanceModel
@*@using (Html.BeginForm("leave","EmployeeAttendance",FormMethod.Post, new {  ))*@
@section Styles{

    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 80%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
<div class="card">
    <dighv class="card-body">
        @{
            <form onsubmit="return ajaxpost(this)" id="formsub" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.EmployeeId)
                        @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
                        <span class="error">EmployeeId Must Required</span>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.LeaveTypeId)
                        @Html.DropDownListFor(x => x.LeaveTypeId, null, "---Select---", new { @class = "form-control" })                      
                        <span class="error">LeaveType Must required</span>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.leaveDays)
                        @Html.TextBoxFor(x => x.leaveDays, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Reason)
                        @Html.TextAreaFor(x => x.Reason, new { @class = "form-control"})                   
                        <span class="error">Reason Must Required</span>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.leaveDeduct)
                        @Html.TextBoxFor(x => x.leaveDeduct, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Remianingleaves)
                        @Html.TextBoxFor(x => x.Remianingleaves, new { @class = "form-control", @readonly = "readonly" })
                        @Html.HiddenFor(x => x.rleaves)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttendanceDatef)
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.AttendanceDatef, new { @class = "form-control", @autocomplete = "off" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <label class="AttendanceDateflab" style="color:red; display:none; font-weight:400; font-size:small;">Please Select From Date</label>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttendanceDatet)
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.AttendanceDatet, new { @class = "form-control", @autocomplete = "off" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-calendar"></span>
                                </div>
                            </div>
                        </div>
                        <label class="AttendanceDatetlab" style="color:red;  display:none; font-weight:400; font-size:small; ">Please Select To Date</label>
                    </div>
                     <div class="col-md-3">
                                @Html.LabelFor(x => x.Attachment)
                                <input type="file" id="AttachmentFile" name="AttachmentFile" value="Upload" />
                            </div>
                      </div>
                <button type="submit" class="btn btn-success" style="margin-top:15px;">Save</button>
                @Html.HiddenFor(x => x.levhid)
            </form>
        }
    </div>
</div>
@section Scripts {
      <script>
        $(document).ready(function() {
            $('#AttendanceDatef,#AttendanceDatet').datepicker({
                format: 'dd-MM-yyyy',
                orientation: "bottom auto",
                pickTime: false,
                autoclose: true
            });
            if (LeaveTypeId != null) 
            {
                salary();  
            }
        })
    document.getElementById('LeaveTypeId').addEventListener("change", attendance);
    document.getElementById('LeaveTypeId').addEventListener("change", salary);
    function salary() {
        debugger;
        var LeaveTypeId = $('#LeaveTypeId').val();
        if(LeaveTypeId != "")
        {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("LeaveTypeId", "EmployeeAttendance")',
                data: { LeaveTypeId: LeaveTypeId },
                success: function (result) {
                    console.log(result);
                    debugger;
                    $('#leaveDays').val(result.days)
                }
            })
        }
    }
    function attendance() {
        debugger;
        var LeaveTypeId = $('#LeaveTypeId').val();;
        if (LeaveTypeId != "") {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("attenadce", "EmployeeAttendance")',
                data: { LeaveTypeId: LeaveTypeId },
                success: function (result) {
                    $('#rleaves').val(result)
                }
            })
        }
    }
          $('#AttendanceDatef').change(function () {
              debugger;
              if ($('#EmployeeId option:selected').text() == "---Select---" || $('#LeaveTypeId').val() == "")
        {
            $(function () {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'bottom',
                    showConfirmButton: false,
                    timer: 5000
                })
                Toast.fire({
                    type: 'error',
                    title: "First Select Employee and LeaveType "
                });
            })
            $('#AttendanceDatef').val('');
              }
          $('.AttendanceDateflab').css('display','none');
    })
            $('#LeaveTypeId').change(function () {
                if ($('#LeaveTypeId').val().trim() != "")
                {
                    $('#LeaveTypeId').siblings('span.error').css('visibility', 'hidden');
                }

            })
            $('#EmployeeId').change(function () {
                if ($('#EmployeeId').val().trim() != "") {
                    $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
                }
            })
            $('#Reason').change(function () {
                if ($('#Reason').val().trim() != "") {
                    $('#Reason').siblings('span.error').css('visibility', 'hidden');
                }
            })
       $('#AttendanceDatet').change(function () {
        debugger;
           if ($('#EmployeeId option:selected').text() != "---Select---" && $('#AttendanceDatef').val() != "" && $('#LeaveTypeId option:selected').text() != "---Select---") {
            debugger;
            var dat1 = document.getElementById('AttendanceDatef').value;
            var date1 = new Date(dat1);
            var dat2 = document.getElementById('AttendanceDatet').value;
            var date2 = new Date(dat2)
            var oneDay = 24 * 60 * 60 * 1000;
            if (dat1 <= dat2) {
                var diffDays = date2 - date1;
                var div = diffDays / oneDay;
                var sub = div + 1;
                $('#leaveDeduct').val(sub);
                var num1 = $('#leaveDays').val();
                var num2 = $('#leaveDeduct').val();
                var sum = num1 - num2
                if (sum >= 0) {
                    $('#Remianingleaves').val(sum)
                    $('.AttendanceDatetlab').css('display', 'none');
                }
                else
                {
                    $(function () {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'bottom',
                            showConfirmButton: false,
                            timer: 5000
                        })
                        Toast.fire({
                            type: 'error',
                            title: "You have Exceed Limit "
                        });
                    })
                   
                    $('#AttendanceDatet').val('');
                    $('#Remianingleaves').val('');
                }
            }
            else
            {
                $(function () {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'bottom',
                        showConfirmButton: false,
                        timer: 5000
                    })
                    Toast.fire({
                        type: 'error',
                        title: "To Date Must Greather than Todate  "
                    });
                })
             
                $('#AttendanceDatet').val('');
            }
        }
        else {
               $(function () {
                   const Toast = Swal.mixin({
                       toast: true,
                       position: 'bottom',
                       showConfirmButton: false,
                       timer: 5000
                   })
                   Toast.fire({
                       type: 'error',
                       title: "Please Select From-Date  "
                   });
               })
               $('#AttendanceDatet').val('');
        }
      });

      function ajaxpost(formData) {
        debugger;
        var isallvalid = true;
        if($('#LeaveTypeId option:selected').text() == "---Select---") {
            isallvalid = false;
            $('#LeaveTypeId').siblings('span.error').css('visibility', 'visible');
        }
        else
        {
            $('#LeaveTypeId').siblings('span.error').css('visibility', 'hidden')
        }
          if ($('#EmployeeId option:selected').text() == "---Select---") {
            isallvalid = false;
              $('#EmployeeId').siblings('span.error').css('visibility', 'visible');
        }
        else {
              $('#EmployeeId').siblings('span.error').css('visibility', 'hidden')
          }
          if ($('#Reason').val() == "") {
            isallvalid = false;
            $('#Reason').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Reason').siblings('span.error').css('visibility', 'hidden')
          }
          if ($('#AttendanceDatef').val() == "") {
              isallvalid = false;
              $('.AttendanceDateflab').css('display', 'block');
        }
        else {
            $('#AttendanceDatef').siblings('span.error').css('visibility', 'hidden')
          }
          if ($('#AttendanceDatet').val() == "") {
            isallvalid = false;
              $('.AttendanceDatetlab').css('display', 'block');
        }
        else {
            $('#AttendanceDatet').siblings('span.error').css('visibility', 'hidden')
        }
        if (isallvalid)
        {
            debugger;
            var ajaxConfig = {
                type: "POST",
                url: "/EmployeeAttendance/leave",
                data: new FormData(formData),
                success: function (result) {
                    debugger;
                    var sub = "submitted";
                    var no = "No";                
                    if (no == result) {
                        $(function () {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'bottom',
                                showConfirmButton: false,
                                timer: 5000
                            })
                            Toast.fire({
                                type: 'error',
                                title: "You Have No More Leaves Cheak Your Attendance Please  "
                            });
                        })
                        $('#AttendanceDatef').val('');
                        $('#AttendanceDatet').val('');
                    }
                    else if (sub == result) {

                        toastr.options.positionClass = 'toast-top-center';
                        toastr["success"]("Your Request Has been submitted");
                        clear();
                    }
                    else
                    {
                        toastr.options.positionClass = 'toast-top-center';
                        toastr["success"]("Date of joinining Conflict", " Dear,User");

                    }
                   
                }
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
        function clear() {
            $('input[type="text"]').val("");
            $('select').each(function () { $(this).val('') })
            $('#AttendanceDatef').val('');
            $('#AttendanceDatet').val('');
            $('#Reason').val('');
        }
    </script>
}