﻿@model payrollado.Models.AttendanceModel
<div class="card">
    <div class="card-body">
        @{
            <form onsubmit="return ajaxpost(this)" id="formsub" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.LeaveTypeId)
                        @Html.DropDownListFor(x => x.LeaveTypeId, null, "--SelectList----", new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.EmployeeId)
                        @Html.DropDownListFor(x => x.EmployeeId, null, "--SelectList----", new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.leaveDays)
                        @Html.TextAreaFor(x => x.leaveDays, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Reason)
                        @Html.TextAreaFor(x => x.Reason, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.leaveDeduct)
                        @Html.TextBoxFor(x => x.leaveDeduct, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.Remianingleaves)
                        @Html.TextBoxFor(x => x.Remianingleaves, new { @class = "form-control" })
                        @Html.HiddenFor(x => x.rleaves)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttendanceDatef)
                        @Html.TextBoxFor(x => x.AttendanceDatef, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttendanceDatet)
                        @Html.TextBoxFor(x => x.AttendanceDatet, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.AttachmentFile)
                        <input type="file" id="AttachmentFile" name="AttachmentFile" value="Upload" />
                        @Html.HiddenFor(x => x.hid)
                        @if (Model.Attachment != null)
                        {
                            <a href="~/PDF/@Model.Attachment">Link </a>
                        }
                    </div>
                </div>
                <button class="btn btn-success">Save</button>
            </form>
        }
    </div>
    </div>
@section Scripts
    {
    <script>

        $(document).ready(function () {
            debugger;
          
            $("#leaveDeduct").prop("readonly", true);
       
            $("#Remianingleaves").prop("readonly", true);

            $("#leaveDays").prop("readonly", true);
        
            attendance();
            salary();
        });
        function attendance() {
            debugger;
            var EmployeeId = $('#EmployeeId').val();
            if ($('#EmployeeId option:selected').text() != "---Select---") {
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("attenadce", "EmployeeAttendance")',
                    data: { EmployeeId: EmployeeId },
                    success: function (result) {
                        $('#rleaves').val(result)
                    }
                });   
            }
            $('#rleaves').val("");
        }
        function salary() {
        debugger;
        var EmployeeId = $('#EmployeeId').val();
            if($('#EmployeeId option:selected').text() != "---Select---")
        {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("EmployeeId", "EmployeeAttendance")',
                data: { EmployeeId: EmployeeId },
                success: function (result) {
                    debugger;
                    $('#leaveDays').val(result.day)
                }
            })
        }
        $('#leaveDays').val("");
    }



        document.getElementById('EmployeeId').addEventListener("change", attendance);
    document.getElementById('EmployeeId').addEventListener("change", salary);
    function salary() {
        debugger;
        var EmployeeId = $('#EmployeeId').val();
        if (EmployeeId != "")
        {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("EmployeeId", "EmployeeAttendance")',
                data: { EmployeeId: EmployeeId },
                success: function (result) {
                    debugger;
                    $('#leaveDays').val(result.day)
                }
            })
        }
        $('#leaveDays').val("");
    };
    function attendance() {
        debugger;
        var EmployeeId = $('#EmployeeId').val();
        if(EmployeeId != "") {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("attenadce", "EmployeeAttendance")',
                data: { EmployeeId: EmployeeId },
                success: function (result) {
                    $('#rleaves').val(result)
                }
            })
        }
        $('#rleaves').val("");
    };
    $('#AttendanceDatef').change(function () {
        if ($('#EmployeeId option:selected').text() == "---Select---")
        {
            toastr.options.positionClass = 'toast-bottom-full-width';
            toastr["warning"]("First Select Employee ", "Dear,User");
            $('#AttendanceDatef').val('dd/mm/yyyy');
        }
    })

            $('#LeaveTypeId').change(function () {
                if ($('#LeaveTypeId').val().trim() != "")
                {
                    $('#LeaveTypeId').siblings('span.error').css('visibility', 'hidden');
                }

            })
            $('#EmployeeId').change(function () {
                if ($('#EmployeeId').val().trim() != "") {
                    $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
                }

            })
            $('#Reason').change(function () {
                if ($('#EmployeeId').val().trim() != "") {
                    $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
                }

            })

        $('#AttendanceDatet').change(function () {
        debugger;
            if ($('#EmployeeId option:selected').text() != "---Select---" && $('#AttendanceDatef').val() != "" && $('#leaveDays').val() != ""  ) {
            debugger;
            var dat1 = document.getElementById('AttendanceDatef').value;
            var date1 = new Date(dat1);
            var dat2 = document.getElementById('AttendanceDatet').value;
            var date2 = new Date(dat2)
            var oneDay = 24 * 60 * 60 * 1000;
            if (dat1 <= dat2) {
                var diffDays = date2 - date1;
                var div = diffDays / oneDay;
                var sub = div + 1;
                $('#leaveDeduct').val(sub);
                var num1 = $('#leaveDays').val();
                var num2 = $('#leaveDeduct').val();
                var sum = num1 - num2
                if (sum >= 0) {
                    $('#Remianingleaves').val(sum)
                }
                else
                {
                    toastr.options.positionClass = 'toast-bottom-full-width';
                    toastr["warning"]("You have Exceed Limit", "Dear,User");
                    $('#AttendanceDatet').val('dd/mm/yyyy');

                }
            }
            else
            {
                toastr.options.positionClass = 'toast-bottom-full-width';
                toastr["warning"]("To Date Must Greather than Todate ", "Dear:User");
                $('#AttendanceDatet').val('dd/mm/yyyy');
            }
        }
        else {
            toastr.options.positionClass = 'toast-bottom-full-width';
               toastr["warning"]("Please Select From-Date and Employee Must ", "Dear,User");
               $('#AttendanceDatet').val('dd/mm/yyyy');
        }
      });

        debugger;
        function ajaxpost(formData) {
            debugger;
            var ajaxConfig = {
                type: "POST",
                url: "/EmployeeAttendance/DataUpdated",
                data: new FormData(formData),
                success: function (result) {
                    toastr.success('Your data Update', 'Dear User', { timeOut: 8000, preventDuplicates: true, positionClass: 'toast-top-center' });

                    window.location.href = "/EmployeeAttendance/leave";
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }
    </script>
   }