﻿@model IEnumerable<leavesp_Result>

@{
    ViewBag.Title = "list";
}
@section Styles{
    @*<style>
            span.error {
                display: block;
                visibility: hidden;
                color: red;
                font-size: 80%;
            }
            tr.error {
                background-color: rgba(255,0,0,0.35);
            }
        </style>*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
}
<div class="card">
    <div class="card-body">
        <table id="myTable" class="table-bordered ">
            <tr>
                <th>
                    leave Id
                </th>
                <th>
                    Leave Name
                </th>
                <th>
                  Full Name
                </th>
                <th>
                    From Date
                </th>
                <th>
                    To date
                </th>
                <th>leave Days</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.LeaveId
                </td>
                <td>
                    @item.LeaveName
                </td>
                <td>
                    @item.FirstName &nbsp; @item.LastName
                </td>
                <td>
                    @item.Fromdate.Value.ToShortDateString()
                </td>
                <td>
                    @item.Todate.Value.ToShortDateString()
                </td>
                <td>
                    @item.LeaveDays
                </td>
                <td><a class="btn btn-success" style="width:100%; height:100%" href="@Url.Action("Leave","EmployeeAttendance", new { id = @item.LeaveId })"><span>Edit</span></a></td>
                <td><a class="btn btn-danger" href="@Url.Action("LeaveDelete","EmployeeAttendance", new { Id = @item.LeaveId})"><span>Delete</span></a></td>
            </tr>
            }
        </table>
    </div>
</div>
@section
    Scripts
    {
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
} 