﻿@model List<payrollado.Models.LoginSinup>
<table class="table-responsive">
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>Password</th>
            <th>User Type</th>
        </tr>
        <tr>
            @foreach (var item in Model )
            {
                <td>@(item.) </td>
                <td>@(item.)</td>
                <td>@(item.)</td>
                <td>@(item)</td>
                <td><button style="width:100%; height:100%;" class="btn btn-success myclass" value="@item.UserId">Edit</button></td>
                <td><a style="width:100%; height:100%;" class="btn btn-danger" href="@Url.Action("DeleteAllowance","Master", new { id = @item.UserId })"><span>Delete</span></a></td>
            }
        </tr>
    </table>