﻿
@model payrollado.Models.EmployeeSalaryM
@{
    ViewBag.Title = "Index";
}
@section Styles{
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }
    </style>
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.EmployeeTypeId)
                @Html.DropDownListFor(x => x.EmployeeTypeId, null, "---Select---", new { @class = "form-control " })
                <span class="error">EmployeeType Must Be Required</span>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.EmployeeId)
                @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
                <span class="error">Employee Must Be Required</span>
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.BasicSelary)
                @Html.TextBoxFor(x => x.BasicSelary, new { @class = "form-control amount" })
                <span class="error">BasicSalary Must Be Required</span>
            </div>
        </div>
        <table id="ducamount" class="table-responsive">
            @using (Html.BeginForm("Index", "EmployeeSalary", FormMethod.Post))
            {
                <tbody id="bodyrow1">
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(x => x.DeductionId)
                            @Html.DropDownListFor(x => x.DeductionId, null, "---Select---", new { @class = "form-control " })
                        </td>
                        <td width="25%">
                            @Html.LabelFor(x => x.DeductionAmount)
                            @Html.TextBoxFor(x => x.DeductionAmount, new { @class = "form-control ", @readonly = true })
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="Addduc" style="margin-top:30px;">Add</button>
                        </td>
                        <td>
                            <label class="duclab" style="color:red; margin-top:20px; display:none;">Please Select a Deduction</label>
                        </td>
                        <td>
                            @Html.HiddenFor(x => x.deductionhid2, new { @class = "form-control" })
                        </td>
                    </tr>
                    @if (Model.employeeDeductions != null)
                    {
                        foreach (var item in Model.employeeDeductions)
                        {
                            <tr class="select-row1" ondblclick="update2(this)">
                                <td class="deductionTypeName">
                                    <label> @item.deductionTypeName</label>
                                </td>
                                <td class="DeductionAmount">
                                    <label>@item.DeductionAmount</label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger cheak delete " value="@item.DeductionId">Delete</button>
                                </td>
                                <td>
                                    @Html.HiddenFor(x => x.deductionhid, new { @class = "form-control deductionhid", Value = item.DeductionId, @readonly = true })
                                </td>
                                <td>
                                    <input type="hidden" Value=@item.EmployeeDedeuctionId />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            }
        </table>
        <table id="alwtable" class="table-responsive">
            @using (Html.BeginForm("Index", "EmployeeSalary", FormMethod.Post))
            {
                <tbody id="bodyrow2">
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(x => x.AllowanceTypeId)
                            @Html.DropDownListFor(x => x.AllowanceTypeId, null, "---Select---", new { @class = "form-control" })
                            @*<span class="error">EmployeeType Must Required</span>*@
                        </td>
                        <td width="25%">
                            @Html.LabelFor(x => x.AllowanceAmount)
                            @Html.TextBoxFor(x => x.AllowanceAmount, new { @class = "form-control amount ", @readonly = true })
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="Addalw" style="margin-top:30px;">Add</button>
                        </td>
                        <td><label class="alwlab" style="color:red; margin-top:20px; display:none;">Please Select a Allowance</label></td>
                        <td>
                            @Html.HiddenFor(x => x.allowancehid2, new { @class = "form-control" })
                        </td>
                    </tr>
                    @if (Model.employeeAllowances != null)
                    {
                        foreach (var item in Model.employeeAllowances)
                        {
                            <tr class="select-row2" ondblclick="update(this)">
                                <td>
                                    <label>@item.AllowenceTypeName</label>
                                </td>
                                <td>
                                    <label class="amount">@item.AllowanceAmount</label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger delete2 " value="@item.AllowanceTypeId">Delete</button>
                                </td>
                                <td>
                                    @Html.HiddenFor(x => x.allowancehid, new { @class = "form-control allowancehid ", Value = item.AllowanceTypeId, @readonly = true })
                                </td>
                                <td>
                                    <input type="hidden" Value=@item.EmployeeAllowanceId />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            }
        </table>
        <table id="levtable" class="table-responsive">
            @using (Html.BeginForm("Index", "EmployeeSalary", FormMethod.Post))
            {
                <tbody id="bodyrow3">
                    <tr>
                        <td width="25%">
                            @Html.LabelFor(x => x.LeaveTypeId)
                            @Html.DropDownListFor(x => x.LeaveTypeId, null, "---Select---", new { @class = "form-control" })
                            @*<span class="error">EmployeeType Must Required</span>*@
                        </td>
                        <td width="25%">
                            @Html.LabelFor(x => x.LeaveDays)
                            @Html.TextBoxFor(x => x.LeaveDays, new { @class = "form-control ", @readonly = true })
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="Addlev" style="margin-top:30px;">Add</button>
                        </td>
                        <td><label class="levlab" style="color:red; margin-top:20px; display:none;">Please Select a Leave</label></td>
                        <td>
                            @Html.HiddenFor(x => x.leavehid2, new { @class = "form-control" })
                        </td>
                    </tr>
                    @if (Model.EmployeeLeaves != null)
                    {
                        foreach (var item in Model.EmployeeLeaves)
                        {
                            <tr class="select-row3" ondblclick="update3(this)">
                                <td>
                                    <label>@item.leaveTypeName</label>
                                </td>
                                <td>
                                    <label>@item.LeaveDays</label>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger delete3" value="@item.LeaveTypeId">Delete</button>
                                </td>
                                <td>
                                    @Html.HiddenFor(x => x.leavehid, new { @class = "form-control leavehid ", Value = item.LeaveTypeId, @readonly = true })
                                </td>
                                <td>
                                    <input type="hidden" Value=@item.EmployeeLeaveTypeId />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            }
        </table>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-success" id="Save" style="margin-top:30px">Save</button>
            </div>
            <div class="col-md-3 ">
                @Html.LabelFor(x => x.TotalAmount)
                @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control " })
                @Html.HiddenFor(x => x.hid)
            </div>
        </div>
    </div>
</div>
@section
   Scripts
  {
    <script type="text/javascript">

    $(document).ready(function () {

    })


    function addcal()
    {
        debugger;
        var bsal = $('#BasicSelary').val()
        var total = 0;
        $('#alwtable tbody .select-row2 ').each(function (index, ele) {
            total += parseFloat($(this).find('td:eq(1)').text());
        })
        var ftotal = parseFloat(total);
        var fbsal = parseFloat(bsal);
        var res = ftotal + fbsal;
        $('#TotalAmount').val(res.toFixed(2))
    }
    @*EmployeeidGet();
             function EmployeeidGet()
             {
                 debugger;
               if ($('#EmployeeTypeId option:selected').text() == "---Select---")
            {
                var fill = '<option value="-1" >Select</option>'
                $('#EmployeeId').html(fill)
                $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible')
            }
            else {
                var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                debugger;
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("EmployeeidGet", "EmployeeSalary")',
                    data: { EmployeeTypeId: EmployeeTypeId },
                    success: function (result) {
                        console.log(result);
                        debugger;
                      var   fill = '<option value="' + result.id + '">' + result.name + result.lstName + '</option>';
                        $('#EmployeeId').html(fill);
                    }
                })
            }
        }*@
        $("#AllowanceTypeId").change(function () {
        debugger;
        if ($('#AllowanceTypeId option:selected').val == -1 || $('#AllowanceTypeId option:selected').text() == "Select") {
            $("#AllowanceAmount").prop("readonly", true);
        }
        else
        {
            $("#AllowanceAmount").prop("readonly", false);
            $("#AllowanceAmount").focus();
            $('#alwlab').css('display', 'none');
        }
    });
                function update3(val) {
                    debugger;
                    var data = $(val).find('td:eq(3)').find('input').val();
                    var data2 = $(val).find('td:eq(1)').text();
                    var dat3 = $(val).find('td:eq(4)').find('input').val();
                    $('#LeaveTypeId').val(data);
                    $('#LeaveDays').val(data2);
                    $('#LeaveDays').prop('readonly', false);
                    $('#leavehid2').val(dat3);
                    $(val).closest("tr").remove();
                }
                function update2(val) {
                    debugger;
                    var data = $(val).find('td:eq(3)').find('input').val();
                    var data2 = $(val).find('td:eq(1)').text();
                    var dat3 = $(val).find('td:eq(4)').find('input').val();
                    $('#DeductionId').val(data);
                    $('#DeductionAmount').val(data2);
                    $('#DeductionAmount').prop('readonly', false);
                    $('#deductionhid2').val(dat3);
                    $(val).closest("tr").remove();
                }
                function update(val) {
                    debugger;
                    var data = $(val).find('td:eq(3)').find('input').val();
                    var data2 = $(val).find('td:eq(1)').text();
                    var dat3 = $(val).find('td:eq(4)').find('input').val();
                    $('#AllowanceTypeId').val(data);
                    $('#AllowanceAmount').val(data2);
                    $('#AllowanceAmount').prop('readonly', false);
                    var ttlamt = $('#TotalAmount').val();
                    res = ttlamt - data2;
                    console.log(res);
                    $('#allowancehid2').val(dat3);
                    $('#TotalAmount').val(res.toFixed(2));
                    $(val).closest("tr").remove();
                }
      $("#DeductionId").change(function () {
                    debugger;
     if($('#DeductionId option:selected').val() == -1 || $('#DeductionId option:selected').text() == "---Select---") {
            $("#DeductionAmount").prop("readonly", true);
        }
        else
        {
            $("#DeductionAmount").prop("readonly", false);
         $("#DeductionAmount").focus();
         $('#duclab').css('display', 'none');
     }
    })
    $("#LeaveTypeId").change(function () {
        debugger;
        if($('#LeaveTypeId option:selected').val() == -1 || $('#LeaveTypeId option:selected').text() == "---Select---")
        {
            $("#LeaveDays").prop("readonly", true);
        }
        else{
            $("#LeaveDays").prop("readonly", false);
            $("#LeaveDays").focus();
            $('#levlab').css('display', 'none');
        }
    })
    //$(function () {
    //    var totalamount = function () {
    //        var sum = 0;
    //        $('.amount').each(function(){
    //            var num = $(this).val();
    //            if (num != 0) {
    //                sum += parseFloat(num);
    //            }
    //        });
    //        $(TotalAmount).val(sum.toFixed(2));
    //    }
    //    $('.amount').keyup(function () {
    //        totalamount();
    //    });
    //   });
    document.getElementById('EmployeeTypeId').addEventListener("change", allowanc);
    document.getElementById('EmployeeTypeId').addEventListener("change", Employee);
        function allowanc() {
            debugger;
            if ($('#EmployeeTypeId option:selected').text() == "---Select---")
            {
                var fill = '<option value="-1" >Select</option>'
                $('#AllowanceTypeId').html(fill)
            }
            else {
                var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                $.ajax({
                    method: 'Get',
                    url:'@Url.Action("EmployeeId", "EmployeeSalary")',
                    data: { EmployeeTypeId: EmployeeTypeId },
                    success: function (result) {
                        var fill = '<option value="-1" >---Select---</option>'
                        for (var i = 0; i < result.length; i++)
                        {
                            fill += '<option value="' + result[i].id + '">' + result[i].Name + '</option>';
                        }
                        $('#AllowanceTypeId').html(fill);
                    }
                })
            }
        }
        function Employee() {
            debugger;
            if ($('#EmployeeTypeId option:selected').text() == "---Select---")
            {
                var fill = '<option value="-1" >Select</option>'
                $('#EmployeeId').html(fill)
                $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible')
            }
            else {
                var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                debugger;
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("EmployeeTypeId", "EmployeeSalary")',
                    data: { EmployeeTypeId: EmployeeTypeId },
                    success: function (result) {
                        debugger;
                        var fill = '<option value="-1" >---Select---</option>'
                        for (var i = 0; i < result.length; i++) {
                            fill += '<option value="' + result[i].id + '">'+ result[i].name + ' ' + result[i].lstName + '</option>';
                        }
                        $('#EmployeeId').html(fill);
                    }
                })
            }
        }
                $('#EmployeeTypeId').change(function () {
                    if ($('#EmployeeTypeId option:selected').text() != "---Select---") {
                $('#EmployeeTypeId').siblings('span.error').css('visibility', 'hidden')
                    }
                })
                $("#AllowanceAmount").blur(function () {
                    debugger;
                    if ($('#AllowanceAmount').val().trim() == "") {
                        $("#AllowanceTypeId").prop('selectedIndex', 0);
                        if ($('#AllowanceTypeId option:selected').val == -1 || $('#AllowanceTypeId option:selected').text() == "Select" || $('#AllowanceTypeId option:selected').text() == "---Select---") {
                            $("#AllowanceAmount").prop("readonly", true);
                        }
                        else {
                            $("#AllowanceAmount").prop("readonly", false);
                        }
                    }
                });
                $('#DeductionAmount').blur(function () {
                    debugger;
                    if ($('#DeductionAmount').val().trim() == "") {
                        $('#DeductionId').prop('selectedIndex', 0);
                        if ($('#DeductionId option:selected').val == -1 || $('#DeductionId option:selected').text() == "Select" || $('#DeductionId option:selected').text() == "---Select---") {
                            $("#DeductionAmount").prop("readonly", true);
                        }
                        else {
                            $("#DeductionAmount").prop("readonly", false);
                        }
                    }
                });
                $('#LeaveDays').blur(function () {
                    debugger;
                    if ($('#LeaveDays').val().trim() == "") {
                        $('#LeaveTypeId').prop('selectedIndex', 0);
                        if ($('#LeaveTypeId option:selected').val == -1 || $('#LeaveTypeId option:selected').text() == "Select" || $('#LeaveTypeId option:selected').text() == "---Select---") {
                            $("#LeaveDays").prop("readonly", true);
                        }
                        else {
                            $("#LeaveDays").prop("readonly", false);
                        }
                    }
                });

        $('#EmployeeId').change(function () {
            debugger;
            if ($('#EmployeeId option:Selected').val() == -1 || $('#EmployeeId option:Selected').text() == "Select") {
                $('#EmployeeId').siblings('span.error').css('visibility', 'visible')
            }
            else {
                $('#EmployeeId').siblings('span.error').css('visibility', 'hidden')
            }
        })
        $('#BasicSelary').change(function () {
            if ($('#BasicSelary').val().trim() != "") {
                $('#BasicSelary').siblings('span.error').css('visibility', 'hidden')
            }
            else {
                $('#BasicSelary').siblings('span.error').css('visibility', 'visible')
            }
            addcal();
       })

     $('#ducamount tbody ').on('click', '.delete', function () {
        debugger;
        listdel1.push({
       "EmployeeDedeuctionId": $(this).closest('tr').find('td').eq(4).find('input').val()
         })
          $(this).closest('tr').remove();
       });
      $('#ducamount tbody ').on('click', '.delete', function () {
           debugger;
      listdel1.push({
         "EmployeeDedeuctionId": $(this).closest('tr').find('td').eq(4).find('input').val()
        })
        $(this).closest('tr').remove();
    });
    $('#alwtable tbody ').on('click', '.delete2', function () {
        debugger;
        listdel2.push({
            "EmployeeAllowanceId": $(this).closest('tr').find('td').eq(4).find('input').val()
        })
        $(this).closest('tr').remove();
    });
    $('#levtable tbody ').on('click', '.delete3', function () {
        debugger;
        listdel3.push({
            "EmployeeLeaveTypeId": $(this).closest('tr').find('td').eq(4).find('input').val()
        })
    });

                //  $('#alwtable tbody ').on('click', '.remove', function () {
                //    debugger;
                //    var data = $(this).closest('tr').find('td').eq(1).find('input').val()
                //    var ttlamt = $('#TotalAmount').val();
                //    res = ttlamt - data;
                //    $('#TotalAmount').val(res.toFixed(2));
                //    $(this).parents('tr').remove();
                //});

                     $('#Addalw').click(function () {
                    debugger;
                         if ($('#AllowanceTypeId option:selected').text() != "---Select---") {
                             var AlwId = $('#AllowanceTypeId').val();
                             var Alwnam = $('#AllowanceTypeId option:selected').text();
                             var Alwamt = $('#AllowanceAmount').val();
                             var empalw = $('#allowancehid2').val();
                             var row2 = "<tr class='select-row2' ondblclick='update(this)'><td width='25%'><label> " + Alwnam + "</label></td><td width='25%'><label> " + Alwamt + "</label></td><td><input type ='button' class='btn btn-danger remove delete2' value='Delete'></td><td><input type='hidden' class='form-control AlwId ' value=" + AlwId + "  ></td><td><input type='hidden' class='form-control empalw ' value='" + empalw + "'></td></tr>"
                             $('#bodyrow2').append(row2);
                             $("#AllowanceTypeId").prop('selectedIndex', 0);
                             $('#AllowanceAmount').val("")
                             $('#AllowanceAmount').prop('readonly', true)
                             addcal();
                         }
                         $('#alwlab').css('display','block');
                    });
                  $('#Addduc').click(function () {
                      debugger;
                      if ($('#DeductionId option:selected').text() != "---Select---") {
                          var ducid = $('#DeductionId').val();
                          var ducname = $('#DeductionId option:selected').text();
                          var ductamt = $('#DeductionAmount').val();
                          var empduc = $('#deductionhid2').val();
                          var row = "<tr class='select-row1' ondblclick='update2(this)' ><td width='25%'><label>" + ducname + "</label></td><td width='25%'><label>" + ductamt + " </label></td><td><input type ='button' class='btn btn-danger remove delete' value='Delete'></td><td><input type='hidden' class='ducid' value=" + ducid + "></td><td><input type='hidden' class='empduc' value='" + empduc + "''></td></tr>"
                          $('#bodyrow1').append(row);
                          $('#DeductionId').prop('selectedIndex', 0);
                          $('#DeductionAmount').val("")
                          $('#DeductionAmount').prop('readonly', true);
                      }
                      else {
                          $('#duclab').css('display', 'block');
                      }
                      })
                    $('#Addlev').click(function () {
                        debugger;
                        if ($('#LeaveTypeId option:selected').text() != "---Select---") {
                            var levid = $('#LeaveTypeId').val();
                            var Levnam = $('#LeaveTypeId option:selected').text();
                            var LevDys = $('#LeaveDays').val();
                            var empleve = $('#leavehid2').val();
                            var row3 = "<tr class='select-row3' ondblclick='update3(this)'><td width='25%'><label>" + Levnam + " </label></td><td width='25%'><label> " + LevDys + "</label></td><td><input type ='button' class='btn btn-danger remove delete3' value='Delete'></td><td><input type='hidden' class='leavehid' value='" + levid + "''></td><td><input type='hidden' class='empleve' value='" + empleve + "''></td></tr>"
                            $('#bodyrow3').append(row3);
                            $('#LeaveTypeId').prop('selectedIndex', 0);
                            $('#LeaveDays').val("")
                            $('#LeaveDays').prop('readonly', true)
                        }
                        else
                        {
                            $('#levlab').css('display', 'block');
                        }
                        
                       })
    var listdel1 = [];
    var listdel2 = [];
    var listdel3 = [];

    $('.delete').click(function () {
        debugger;
        listdel1.push({
            "EmployeeDedeuctionId": $(this).closest('tr').find('td').eq(4).find('input').val()
        })
        $(this).closest('tr').remove();

    })
    $('.delete2').click(function () {
        debugger;
        listdel2.push({
            "EmployeeAllowanceId": $(this).closest('tr').find('td').eq(4).find('input').val()
        })
        $(this).closest('tr').remove();
        addcal();
    })
    $('.delete3').click(function () {
        debugger;
        listdel3.push({
                "EmployeeLeaveTypeId": $(this).closest('tr').find('td').eq(4).find('input').val()
        })
        $(this).closest('tr').remove();
})

        $('#Save').click(function () {
            isallvalid = true;
            if ($('#EmployeeTypeId option:selected').text() == "---Select---")
            {
                $('#EmployeeTypeId').siblings('span.error').css('visibility','visible')
                isallvalid = false;
            }
            else
            {
                $('#EmployeeTypeId').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#EmployeeId option:selected').text() == "---Select---" || $('#EmployeeId option:selected').text() == "Select") {
                isallvalid = false;
                $('#EmployeeId').siblings('span.error').css('visibility', 'visible')
            }
            else {
                $('#EmployeeId').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#BasicSelary').val().trim() == ""){
                isallvalid = false;
                $('#BasicSelary').siblings('span.error').css('visibility', 'visible')
            }
            else {
                $('#BasicSelary').siblings('span.error').css('visibility', 'hidden')
            }
            if (isallvalid) {
                var list1 = [];
                var list2 = [];
                var list3 = [];
                debugger;
                $('#alwtable tbody .select-row2 ').each(function (index, ele) {
                    list1.push({
                        "AllowanceTypeId": $(this).closest('tr').find('td').eq(3).find('input').val(),
                        "AllowanceAmount": $(this).find('td:eq(1)').text(),
                        "EmployeeAllowanceId": $(this).closest('tr').find('td').eq(4).find('input').val()
                    })
                    $(this).closest("tr").remove();
                })
                $('#levtable tbody .select-row3').each(function (index, ele) {
                    list2.push({
                        "LeaveDays": $(this).find('td:eq(1)').text(),
                        "LeaveTypeId": $(this).closest('tr').find('td').eq(3).find('input').val(),
                        "EmployeeLeaveTypeId": $(this).closest('tr').find('td').eq(4).find('input').val()
                    })
                    $(this).closest("tr").remove();
                })
                $('#ducamount tbody .select-row1 ').each(function (index, ele) {
                    list3.push({
                        "DeductionAmount": $(this).find('td:eq(1)').text(),
                        "DeductionId": $(this).closest('tr').find('td').eq(3).find('input').val(),
                        "EmployeeDedeuctionId": $(this).closest('tr').find('td').eq(4).find('input').val()
                    })
                    $(this).closest("tr").remove();
                })
                debugger;
                 var info = {
                        "BasicSelary": $('#BasicSelary').val(),
                        "TotalAmount": $('#TotalAmount').val(),
                        "EmployeeId": $('#EmployeeId').val(),
                        "EmployeeTypeId": $('#EmployeeTypeId').val(),
                         "hid": $('#hid').val(),
                        "employeeAllowances": list1,
                        "employeeDeductions": list3,
                         "EmployeeLeaves": list2,
                        "deletealws": listdel2,
                         "deletelevs": listdel3,
                         "deleteducs": listdel1
                    }
                $.ajax({
                    type: 'Post',
                    url: '/EmployeeSalary/Index/',
                    data: JSON.stringify(info),
                    contentType: "application/json?charset=utf-8",
                    success: function (data, status, xhr) {
                        var save = "Save";
                        if (save == data)
                        {
                            toastr.options.positionClass = 'toast-top-center';
                            toastr["success"]("Data Has Been Save ");
                        }
                        else
                        {
                            toastr.options.positionClass = 'toast-top-center';
                            toastr["success"]("Data Has Been Updated  " )
                        }
                            clear();
                    },
                });
            }

                });
    function clear() {
        $('#TotalAmount').val('');
        $('#BasicSelary').val('');
        $('#EmployeeTypeId').prop('selectedIndex', 0);
        $('#EmployeeId').prop('selectedIndex', 0);
    }
    </script>
}
