﻿@model List<payrollado.Models.Sallist>
@{         
  ViewBag.Title = "list";
}
@section Styles{
    @*<style>
            span.error {
                display: block;
                visibility: hidden;
                color: red;
                font-size: 80%;
            }

            tr.error {
                background-color: rgba(255,0,0,0.35);
            }
        </style>*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
}
<div class="card">
    <div class="card-body">
        <table id="mytable" class="table-bordered">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Full Name</th>
                    <th>Basic Salary</th>
                    <th>Total Amount</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in Model)
                 {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.FirstName &nbsp; @item.LastName </td>
                    <td>@item.BasicSelary </td>
                    <td>@item.TotalAmount</td>
                    <td><a style="width:100%; height:100%;" class="btn btn-success" href="@Url.Action("Index","EmployeeSalary", new { id = @item.EmployeeSalaryId })"><span>Edit</span></a></td>
                    <td><a style="width:100%; height:100%;" class="btn btn-danger" href="@Url.Action("ListDelete","EmployeeSalary", new { id = @item.EmployeeSalaryId })"><span>Delete</span></a></td>   
                </tr>
                 }
            </tbody>
        </table>
    </div>
</div>

                  


    @section
    Scripts
    {
        <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                $('#mytable').DataTable();
            });

        </script>
    }
