﻿@model payrollado.Models.EmployeeSalaryM

@{
    ViewBag.Title = "updates";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("updates", "EmployeeSalary", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.EmployeeTypeId)
                    @Html.DropDownListFor(x => x.EmployeeTypeId, null, "----SelectEmployeeId---- ", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.EmployeeId)
                    @Html.DropDownListFor(x => x.EmployeeId, new SelectList(""), "----SelectEmployeeId---- ", new { @class = "form-control" })
                    @*//new SelectList(""),"Select EmployeeType"*@
                </div>
                <div class="col-md-3">
                    <div>
                        @Html.LabelFor(x => x.AllowanceTypeId)
                        @Html.DropDownListFor(x => x.AllowanceTypeId, new SelectList(""), "----SelectEmployeeId---- ", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.AlloawnceAmount)
                    @Html.TextBoxFor(x => x.AlloawnceAmount, new { @class = "form-control input-sm text-right amount" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.DeductionId)
                    @Html.DropDownListFor(x => x.DeductionId, null, "----SelectDeduction---", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.DeductionAmount)
                    @Html.TextBoxFor(x => x.DeductionAmount, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.LeaveTypeId)
                    @Html.DropDownListFor(x => x.LeaveTypeId, null, "-----SELECTLIST----", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.LeaveDays)
                    @Html.TextBoxFor(x => x.LeaveDays, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="float:left;">
                    @Html.LabelFor(x => x.BasicSelary)
                    @Html.TextBoxFor(x => x.BasicSelary, new { @class = "form-control input-sm text-right amount" })
                </div>

                <div class="col-md-3" style="margin-left:50px; float:right; ">
                    @Html.LabelFor(x => x.TotalAmount)
                    @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
                    @Html.HiddenFor(x => x.EmployeeSalaryId)
                </div>



            </div>
            <input type="button" value="Save" id="Save" />
        }
       </div>
    </div>
                @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
                <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
                <script type="text/javascript">
                    $(function () {
                        var totalamount = function () {
                            var sum = 0;
                            $('.amount').each(function(){
                                var num = $(this).val();
                                if (num != 0) {
                                    sum += parseFloat(num);
                                }
                            });
                            $(TotalAmount).val(sum.toFixed(2));
                        }
                        $('.amount').keyup(function () {
                            totalamount();
                        });
                    });
                    document.getElementById('EmployeeTypeId').addEventListener("change", allowanc);
                    document.getElementById('EmployeeTypeId').addEventListener("change", Employee);
                    function allowanc() {
                        debugger;
                        var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                        $.ajax({
                            method: 'Get',
                            url: '@Url.Action("EmployeeId", "EmployeeSalary")',
                            data: { EmployeeTypeId: EmployeeTypeId },
                            success: function (result) {
                                var fill = '<option value="-1" >Select</option>'
                                for (var i = 0; i < result.length; i++) {
                                    fill += '<option value="' + result[i].id + '">' + result[i].Name + '</option>';
                                }
                                $('#AllowanceTypeId').html(fill);
                            }
                        })
                    }
                    function Employee() {
                            var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                            debugger;
                            $.ajax({
                                method: 'Get',
                                url: '@Url.Action("EmployeeTypeId", "EmployeeSalary")',
                                data: { EmployeeTypeId: EmployeeTypeId },
                                success: function (result) {
                                    var fill = '<option value="-1" >Select</option>'
                                    for (var i = 0; i < result.length; i++)
                                    {
                                        fill += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                                    }
                                    $('#EmployeeId').html(fill);
                                }
                               })
                    }*@
                @*$('#Save').click(function () {
                        debugger;
                        var emsal = $('#EmployeeSalaryId').val();

                        var info = {
                            "EmployeeTypeId": $('#EmployeeTypeId').val(),
                            "EmployeeId": $('#EmployeeId').val(),
                            "AllowanceTypeId": $('#AllowanceTypeId').val(),
                            "LeaveTypeId": $('#LeaveTypeId').val(),
                            "DeductionId": $('#DeductionId').val(),
                            "BasicSelary": $('#BasicSelary').val(),
                            "TotalAmount": $('#TotalAmount').val(),
                            "DeductionAmount": $('#DeductionAmount').val(),
                            "LeaveDays": $('#LeaveDays').val(),
                            "AlloawnceAmount": $('#DeductionAmount').val(),
                            "LeaveTypeIdName": $('#LeaveTypeId option:selected').text(),
                            "AllowanceTypeIdName": $('#AllowanceTypeId option:selected').text(),
                            "DeductionIdName": $('#DeductionId option:selected').text(),
                            "EmployeeTypeIdName": $('#EmployeeTypeId option:selected').text()
                        }
                        $.ajax({

                            type: 'Post',
                            url: '/EmployeeSalary/updates/?id=' + emsal,
                            data: JSON.stringify(info),
                            contentType: "application/json?charset=utf-8",
                            success: function (data, status, xhr) {
                            },
                        });
                    });
                </script>*@
                <h2>updates</h2>

