﻿@model payrollado.Models.EmployeeSalaryM
@{
    ViewBag.Title = "Update";
}
@section Styles{
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }
        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.EmployeeTypeId)
                    @Html.DropDownListFor(x => x.EmployeeTypeId, null, "---Select---", new { @class = "form-control " })
                    @*<span class="error">EmployeeType Must Required</span>*@
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.EmployeeId)
                    @Html.DropDownListFor(x => x.EmployeeId,null, "---Select---", new { @class = "form-control" })
                    @*<span class="error">Employee Must Required</span>*@
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.BasicSelary)
                    @Html.TextBoxFor(x => x.BasicSelary, new { @class = "form-control amount" })
                </div>
            </div>
            <table id="ducamount">
                @using (Html.BeginForm("Index", "EmployeeSalary", FormMethod.Post))
                {
                    <tbody class="bodyrow1">
                        <tr>
                            <td class="width=25%">
                                @Html.LabelFor(x => x.DeductionId)
                                @Html.DropDownListFor(x => x.DeductionId, null, "---Select---", new { @class = "form-control" })
                                @*<span class="error">EmployeeType Must Required</span>*@
                            </td>
                            <td class="width=25%">
                                @Html.LabelFor(x => x.DeductionAmount)
                                @Html.TextBoxFor(x => x.DeductionAmount, new { @class = "form-control", })
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary Addduc" style="margin-top:30px;">Add</button>
                            </td>
                        </tr>
                        
                    </tbody>
                }
            </table>
            <table id="alwtable" >
                @using (Html.BeginForm("Index", "EmployeeSalary", FormMethod.Post))
                {
                    <tbody class="bodyrow2">
                        <tr>
                            <td class="width=25%">
                                @Html.LabelFor(x => x.AllowanceTypeId)
                                @Html.DropDownListFor(x => x.AllowanceTypeId, null, "---Select---", new { @class = "form-control" })
                                @*<span class="error">EmployeeType Must Required</span>*@
                            </td>
                            <td class="width=25%">
                                @Html.LabelFor(x => x.AllowanceAmount)
                                @Html.TextBoxFor(x => x.AllowanceAmount, new { @class = "form-control amount " })
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary Addalw"  style="margin-top:30px;">Add</button>
                            </td>            
                        </tr>
                        
                    </tbody>
                }
            </table>
            <table id="levtable" >
                @using (Html.BeginForm("Index", "EmployeeSalary", FormMethod.Post))
                {
                    <tbody class="bodyrow3">
                        <tr>
                            <td class="width=25%">
                                @Html.LabelFor(x => x.LeaveTypeId)
                                @Html.DropDownListFor(x => x.LeaveTypeId, null, "---Select---", new { @class = "form-control" })
                                @*<span class="error">EmployeeType Must Required</span>*@
                            </td>
                            <td class="width=25%">
                                @Html.LabelFor(x => x.LeaveDays)
                                @Html.TextBoxFor(x => x.LeaveDays, new { @class = "form-control" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary Addlev" Addlev  style="margin-top:30px;">Add</button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success" id="Save" style="margin-top:30px">Save</button>
                </div>
                <div class="col-md-3 ">
                    @Html.LabelFor(x => x.TotalAmount)
                    @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control " })
                </div>
            </div>
        </div>
    </div>
    
       @section Scripts
   {
     <script type="text/javascript">
        
         function update2(val) {
             debugger;
             var data = $(val).find('td:eq(3)').find('input').val();
             var data2 = $(val).find('td:eq(1)').text();
             $('#AllowanceTypeId').val(data);
             $('#AllowanceAmount').val(data2);
             $('#AllowanceAmount').prop('visible', false);
             var ttlamt = $('#TotalAmount').val();
             res = ttlamt - data2;
             console.log(res);
             $('#TotalAmount').val(res.toFixed(2));
             $(this).closest("tr").remove();

             $(val).closest("tr").remove();
         }
         function update3(val) {
             debugger;
             var data = $(val).find('td:eq(3)').find('input').val();
             var data2 = $(val).find('td:eq(1)').text();
             $('#LeaveTypeId').val(data);
             $('#LeaveDays').val(data2);
             $('#LeaveDays').prop('visible', false);
             $(val).closest("tr").remove();
         }  
         //    debugger;
         //    var data1 = $(this).closest('tr').find('td:eq(0)').text();
         //    var data2 = $(this).closest('tr').find('td:eq(1)').text();
         //    var data3 = $(this).closest('tr').find('td').eq(3).find('input').val();
         //    $('#LeaveTypeId').val(data3);
         //    $('#LeaveDays').val(data2);
         //    $(this).closest("tr").remove();
         //})
         //            debugger;
         //    var data1 = $(this).closest('tr').find('td:eq(0)').text();
         //    var data2 = $(this).closest('tr').find('td:eq(1)').text();
         //    var data3 = $(this).closest('tr').find('td').eq(3).find('input').val();
         //    $('#AllowanceTypeId').val(data3);
         //    $('#AllowanceAmount').val(data2);
         //    $(this).closest("tr").remove();
         //})
         //$('.select-row1').dblclick(function () {
         //   debugger;
         //    var data1 = $(this).closest('tr').find('td').eq(0).find('input').val();
         //    var data2 = $(this).closest('tr').find('td').eq(1).find('input').val();
         //    var data3 = $(this).closest('tr').find('td').eq(3).find('input').val();
         //    $('#DeductionId').val(data3);
         //    $('#DeductionAmount').val(data2);
         //     $(this).closest("tr").remove();
         //    //$(this).closest('tr').find('td').eq(0).find('input').val('');
         //    //$(this).closest('tr').find('td').eq(1).find('input').val('');
         //    //$(this).closest('tr').find('td').eq(3).find('input').val('');
         //})
         //var LevId = $('#LeaveTypeId').val();
         //var Levnam = $('#LeaveTypeId option:selected').text();
         //var LevDys = $('#LeaveDays').val();
         //var AlwId = $('#AllowanceTypeId').val();
         //var Alwnam = $('#AllowanceTypeId option:selected').text();
         //var Alwamt = $('#AllowanceAmount').val();


         $('#mytable tbody ').on('click', '.remove', function () {
             debugger;
            
             console.log(data);
             $(this).parents('tr').remove();
         });
     //    <td><input type='label' class='form-control Levnam' value='" + Levnam + "' ></td> <td><input type='label' class='form-control LevDys' value='" + LevDys + "'  ></td><td><input type='label' class='form-control LevDys ' value='" + Alwnam + "'  ></td><td><input type='label' class='form-control Alwamt amount' value='" + Alwamt + "'  ></td><td>
    //      <td><input type='hidden' class='LevId' value='" + LevId + "''></td><td><input type='hidden' class='AlwId' value='" + AlwId + "''></tr>"
           //$("#AllowanceTypeId").prop('selectedIndex', 0);
             //$('#AllowanceAmount').val("")
             ////$('#AllowanceAmount').prop('readonly', true)
             //$('#LeaveTypeId').prop('selectedIndex', 0);
             //$('#LeaveDays').val("")
             //$('#LeaveDays').prop('readonly', true)

         $('.Addduc').click(function () {
             debugger;
             var ducid = $('#DeductionId').val();
             var ducname = $('#DeductionId option:selected').text();
             var ductamt = $('#DeductionAmount').val();
             var row = "<tr onclick='update(this)' class='dynamicupdate'><td><label>  " + ducname + "</label></td><td><label>" + ductamt + " </label></td><td><input type ='button' class='btn btn-danger remove' value='Delete'></td><td><input type='hidden' class='ducid' value='" + ducid + "''></tr>"
             $('.bodyrow1').append(row);
             $('#DeductionId').prop('selectedIndex', 0);
             $('#DeductionAmount').val("")
       
         });
         $('.Addalw').click(function () {
             debugger;
             var ducid = $('#AllowanceTypeId').val();
             var ducname = $('#AllowanceTypeId option:selected').text();
             var alwamt = $('#AllowanceAmount').val();
             var row = "<tr onclick='update2(this)' class='dynamicupdate2'><td><label>" + ducname + "</label></td><td><label>" + alwamt+"</label></td><td><input type ='button' class='btn btn-danger remove' value='Delete'></td><td><input type='hidden' class='ducid' value='" + ducid + "''></tr>"
             $('.bodyrow2').append(row);
             $('#AllowanceTypeId').prop('selectedIndex', 0);
             $('#AllowanceAmount').val('');
             var ta = $('#TotalAmount').val(); 
             var a = parseFloat(ta);
             var b = parseFloat(alwamt); 
             var res = a + b; 
             $('#TotalAmount').val(res);
         });
         $('.Addlev').click(function () {
             debugger;
             var ducid = $('#LeaveTypeId').val();
             var ducname = $('#LeaveTypeId option:selected').text();
             var ductamt = $('#LeaveDays').val();
             var row = "<tr onclick='update3(this)' class='dynamicupdate3'><td><label>  " + ducname + "</label></td><td><label>" + ductamt + " </label></td><td><input type ='button' class='btn btn-danger remove' value='Delete'></td><td><input type='hidden' class='ducid' value='" + ducid + "''></tr>"
             $('.bodyrow3').append(row);
             $('#LeaveTypeId').prop('selectedIndex', 0);
             $('#LeaveDays').val("")
           
         });
         $(document).ready(function () {
             debugger;
            
         });

         $("#AllowanceTypeId").change(function () {
             debugger;
             if ($('#AllowanceTypeId option:selected').val == -1 || $('#AllowanceTypeId option:selected').text() == "Select") {
                 $("#AlloawnceAmount").prop("readonly", true);
             }
             else {
                 $("#AlloawnceAmount").prop("readonly", false);
                 $("#LeaveDays").focus();
             }
         });

         $("#DeductionId").change(function () {
             debugger;
             if ($('#DeductionId option:selected').val() == -1 || $('#DeductionId option:selected').text() == "---Select---") {
                 $("#DeductionAmount").prop("readonly", true);
                 
             }
             else{
                 $("#DeductionAmount").prop("readonly", false);
                 $("#DeductionAmount").focus();
             }
         
         })
         $("#LeaveTypeId").change(function () {
             debugger;
             if($('#LeaveTypeId option:selected').val() == -1 || $('#LeaveTypeId option:selected').text() == "---Select---") {
                 $("#LeaveDays").prop("readonly", true);
             }
             else {
                 $("#LeaveDays").prop("readonly", false);
                 $("#LeaveDays").focus();
             }
         })

         //$("#AlloawnceAmount").blur(function () {
         //    debugger;
         //    if ($('#AlloawnceAmount').val().trim() == "") {
         //        $("#AllowanceTypeId").prop('selectedIndex', 0);
         //        if ($('#AllowanceTypeId option:selected').val == -1 || $('#AllowanceTypeId option:selected').text() == "Select" || $('#AllowanceTypeId option:selected').text() == "---Select---" ) {
         //            $("#AlloawnceAmount").prop("readonly", true);
         //        }
         //        else {
         //            $("#AlloawnceAmount").prop("readonly", false);
         //        }
         //    }
         //});
         //$('#DeductionAmount').blur(function () {
         //    debugger;
         //    if ($('#DeductionAmount').val().trim() == "") {
         //        $('#DeductionId').prop('selectedIndex', 0);
         //        if ($('#DeductionId option:selected').val == -1 || $('#DeductionId option:selected').text() == "Select" || $('#DeductionId option:selected').text() == "---Select---") {
         //            $("#DeductionAmount").prop("readonly", true);
         //        }
         //        else {
         //            $("#DeductionAmount").prop("readonly", false);
         //        }
         //    }
         //});
         //$('#LeaveDays').blur(function () {
         //    debugger;
         //    if ($('#LeaveDays').val().trim() == "") {
         //        $('#LeaveTypeId').prop('selectedIndex', 0);
         //        if ($('#LeaveTypeId option:selected').val == -1 || $('#LeaveTypeId option:selected').text() == "Select" || $('#LeaveTypeId option:selected').text() == "---Select---") {
         //            $("#LeaveDays").prop("readonly", true);
         //        }
         //        else {
         //            $("#LeaveDays").prop("readonly", false);

         //        }
         //    }
         //});
        $(function () {
        var totalamount = function () {
            var sum = 0;
            $('.amount').each(function(){
                var num = $(this).val();
                if (num != 0) {
                    sum += parseFloat(num);
                }
            });
            $(TotalAmount).val(sum.toFixed(2));
        }
        $('.amount').keyup(function () {
            totalamount();
        });
    });
    document.getElementById('EmployeeTypeId').addEventListener("change", allowanc);
    document.getElementById('EmployeeTypeId').addEventListener("change", Employee);
    function allowanc() {
            debugger;
        if ($('#EmployeeTypeId option:selected').text() == "---Select---")
            {
                var fill = '<option value="-1" >Select</option>'
                $('#AllowanceTypeId').html(fill)
            }
            else {
                var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                $.ajax({
                    method: 'Get',
                    url:'@Url.Action("EmployeeId", "EmployeeSalary")',
                    data: { EmployeeTypeId: EmployeeTypeId },
                    success: function (result) {
                        var fill = '<option value="-1" >Select</option>'
                        for (var i = 0; i < result.length; i++)
                        {
                            fill += '<option value="' + result[i].id + '">' + result[i].Name + '</option>';
                        }
                        $('#AllowanceTypeId').html(fill);
                    }
                })
            }
        }
        function Employee() {
            debugger;
            if ($('#EmployeeTypeId option:selected').text() == "---Select---")
            {
                var fill = '<option value="-1" >Select</option>'
                $('#EmployeeId').html(fill)
                $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible')
            }
            else {
                var EmployeeTypeId = $('#EmployeeTypeId option:selected').val();
                debugger;
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("EmployeeTypeId", "EmployeeSalary")',
                    data: { EmployeeTypeId: EmployeeTypeId },
                    success: function (result) {
                        var fill = '<option value="-1" >Select</option>'
                        for (var i = 0; i < result.length; i++) {
                            fill += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                        }
                        $('#EmployeeId').html(fill);
                    }
                })
            }
        }
         $('#EmployeeTypeId').change(function () {
             if ($('#EmployeeTypeId option:selected').text() == "---Select---" || $('#EmployeeId option:Selected').val() == -1) {
                 $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible')
             }
             else
             {
                 $('#EmployeeTypeId').siblings('span.error').css('visibility', 'hidden')
             }  
         })
         $('#EmployeeId').change(function () {
             debugger;
             if ($('#EmployeeId option:Selected').val() == -1 || $('#EmployeeId option:Selected').text() == "Select") {
                 $('#EmployeeId').siblings('span.error').css('visibility', 'visible')
             }
             else {
                 $('#EmployeeId').siblings('span.error').css('visibility', 'hidden')
             }

         })
         $('#BasicSelary').change(function () {
             if ($('#BasicSelary').val().trim() != "") {
                 $('#BasicSelary').siblings('span.error').css('visibility', 'hidden')
             }
             else {
                 $('#BasicSelary').siblings('span.error').css('visibility', 'visible')
             }
         })
         //$("#AllowanceTypeId").blur(function () {
         //    debugger;
         //    alert("This input field has lost its focus.");
         //});
    $('#Save').click(function () {
        debugger;
        isallvalid = true;
        if ($('#EmployeeTypeId option:selected').text() == "---Select---") {

            $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible')
            isallvalid = false;
        }
        else {
            $('#EmployeeTypeId').siblings('span.error').css('visibility', 'hidden')
        }
        if ($('#EmployeeId option:selected').text() == "---Select---" || $('#EmployeeId option:selected').text() == "Select") {
            isallvalid = false;
            $('#EmployeeId').siblings('span.error').css('visibility', 'visible')
        }
        else {
            $('#EmployeeId').siblings('span.error').css('visibility', 'hidden')
        }
        if ($('#BasicSelary').val().trim() == "") {
            isallvalid = false;
            $('#BasicSelary').siblings('span.error').css('visibility', 'visible')
        }
        else {
            $('#BasicSelary').siblings('span.error').css('visibility', 'hidden')
        }
        if (isallvalid) {
            var emsal = $('#EmployeeSalaryId').val();

            var list1 = [];
            var list2 = [];
            var list3 = [];

            debugger;
            $('#alwtable tbody .select-row2').each(function (index, ele) {
                list1.push({
                    "AllowanceTypeId": $(this).find('td:eq(4)').val(),
                    "AllowanceAmount": $(this).find('td:eq(1)').val(),
                      //  $(this).find('td').eq(1).find('input').val(),
                    })
            })
            $('#levtable tbody .dynamic3').each(function (index, ele) {
                list2.push({
                    "LeaveDays": $(this).find('td').eq(1).find('input').val(),
                    "LeaveTypeId": $(this).find('td').eq(3).find('input').val()
                })
            })
            $('#ducamount tbody .dynamic1 ').each(function (index, ele) {
                list3.push({
                    "EmployeeId": $('#EmployeeId').val(),
                    "EmployeeTypeId": $('#EmployeeTypeId').val(),
                    "DeductionAmount": $(this).find('td').eq(1).find('input').val(),
                    "DeductionId": $(this).find('td').eq(3).find('input').val(),
                })
            })
            
            var info = {
                "BasicSelary": $('#BasicSelary').val(),
                "TotalAmount": $('#TotalAmount').val(),
                "EmployeeId": $('#EmployeeId').val(),
                "employeeAllowances": list1,
                "employeeDeductions": list3,
                "EmployeeLeaves": list2
            }
            $.ajax({

                type: 'Post',
                url: '/EmployeeSalary/update/?id=' + emsal,
                data: JSON.stringify(info),
                contentType: "application/json?charset=utf-8",
                success: function (data, status, xhr) {
                    toastr.options.positionClass = 'toast-top-center';
                    toastr["success"]("Data Has Been updated ", "Dear,User");
                    clear();
                },
            });
        }
    });
         function clear() {
             $('input[type="text"]').val("");
             $('select').each(function () { $(this).val('') })
             $('#DateofBirth').val('dd/mm/yyyy');
             $('#DateofJoining').val('dd/mm/yyyy');
             $('#PassingYear').val('dd/mm/yyyy');

             $('#Gender').prop('selectedIndex', 0);

         }
                </script>
            }
