﻿@model payrollado.Models.LoginSinup
@{


    ViewBag.Title = "Authorize";
}
@section Styles
    {
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Authorize", "Employee", FormMethod.Post))
        {
            <div class="input-group col-md-12">
                @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
                @Html.HiddenFor(x => x.hid)
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-user"></i>
                    </div>
                </div>
                <span class="error col-md-3">Please Insert a Employee</span>
            </div>
            <div class="input-group col-md-12" style="margin-top:15px;">
                @Html.DropDownListFor(x => x.UserTypeId, null, "---Select---", new { @class = "form-control" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <span class="error col-md-3">Please Insert a UserType</span>
            </div>
            <div class="input-group col-md-12 " style="margin-top:15px;">
                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Enter a UserName" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <span class="error col-md-3">Please Insert a UserName</span>
            </div>
            <div class="input-group col-md-12" style="margin-top:15px;">
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter a Password", @type = "password" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <span class="error col-md-3">Please ReEnter a Password</span>
            </div>
            <div class="input-group col-md-12" style="margin-top:15px;">
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "ReType a Password", @type = "password" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <span class="error col-md-3">Password Do not Match</span>
            </div>
            <div class="row" style="margin-top:25px;">
                <!-- /.col -->
                <div class="col-4">
                    <button style="float:right" type="button" id="Save" class="btn btn-success btn-block">Save</button>
                </div>
                <!-- /.col -->
            </div>
        }
    </div>
</div>
<hr />
@{
    payrollEntities4 db = new payrollEntities4();
    var chk = db.Users.ToList();

    }
    @if (chk.Count != 0)
    {
        <div class="card">
            <div class="card-body">
                <table border="1" class="table-responsive table-bordered container-fluid">
                    <tr>
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>User Type</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        @foreach (var item in Model.Users)
                        {
                            <td>@item.UserId</td>
                            <td>@item.UserName</td>
                            <td>@item.UserTypeName</td>
                            <td><a style="width:100%; height:100%;" class="btn btn-success myclass" href="@Url.Action("Authorizeupdate", "Employee", new { id = @item.UserId })">Edit</a></td>
                            <td><a style="width:100%; height:100%;" class="btn btn-danger" href="@Url.Action("DeleteAllowance", "Master", new { id = @item.UserId })"><span>Delete</span></a> </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    }
    @section
    scripts
        {
        <script type="text/javascript">
            $('#ConfirmPassword').change(function () {
                debugger;
                if ($('#ConfirmPassword').val() !=  $('#Password').val()) {
                    $('#ConfirmPassword').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#ConfirmPassword').siblings('span.error').css('visibility', 'hidden');
                }
            })
            //$('#UserName').change(function () {
            //    debugger;
            //    var name = $(this).val().trim();
            //    $.ajax({
            //        type: 'Get',
            //        url: '/Employee/name?name=' + name,
            //        contentType: "application/json?charset=utf-8",
            //        data: { name: name },
            //        success: function (result) {
            //            debugger;
            //            console.log(result);
            //            if (result.length != 0) {

            //                toastr.options.positionClass = 'toast-bottom-full-width';
            //                toastr["warning"]("This UserName Already Exist ", "Dear,User");
            //            }
            //            else {
            //                console.log(result)
            //            }
            //        },
            //    })
            //});

            $('#Save').click(function () {
                debugger;
                var isallvalid = true
                if ($('#EmployeeId option:selected').text() == "---Select---") {
                    $('#EmployeeId').siblings('span.error').css('visibility', 'visible');
                    isallvalid = false;
                }
                else {
                    $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#UserTypeId option:selected').text() == "---Select---") {
                    $('#UserTypeId').siblings('span.error').css('visibility', 'visible');
                    isallvalid = false;
                }
                else {
                    $('#UserTypeId').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#UserName').val() == "") {
                    $('#UserName').siblings('span.error').css('visibility', 'visible');
                    isallvalid = false;
                }
                else {
                    $('#UserName').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#Password').val() == "") {
                    $('#Password').siblings('span.error').css('visibility', 'visible');
                    isallvalid = false;
                }
                else {
                    $('#Password').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#ConfirmPassword').val() == "") {
                    $('#ConfirmPassword').siblings('span.error').css('visibility', 'visible');
                    isallvalid = false;
                }
                else {
                    $('#ConfirmPassword').siblings('span.error').css('visibility', 'hidden');
                }
                if (isallvalid) {
                    var chk = $('#hid').val();
                    if ($('#hid').val() == 0) {

                        var obj = {
                            EmployeeId: $('#EmployeeId').val(),
                            UserName: $('#UserName').val(),
                            Password: $('#Password').val(),
                            UserTypeId: $('#UserTypeId').val(),
                            UserTypeName: $('#UserTypeId option:selected').text(),
                            PasswordNor: $('#Password').val()
                        }
                        $.ajax({
                            type: 'Post',
                            url: '/Employee/Authorize',
                            contentType: "application/json?charset=utf-8",
                            data: JSON.stringify(obj),
                            success: function (xhr, status, success) {
                                location.reload();
                                
                            },

                        })
                    }
                }
            })
        </script>
    }
