﻿@model payrollado.Models.LoginSinup
@{


    ViewBag.Title = "Authorizeupdate";
}
@section Styles
    {
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Authorize", "Employee", FormMethod.Post))
            {
                <div class="input-group mb-3">
                    @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
                    @Html.HiddenFor(x => x.hid)
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.DropDownListFor(x => x.UserTypeId, null, "---Select---", new { @class = "form-control" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Enter a UserName" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter a Password", @type = "password" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "ReType a Password", @type = "password" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                        <span class="error">Password Donot Match</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="button" id="Save" class="btn btn-success myclass">Save</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            </div>
        </div>
            @section Scripts
    {
                <script type="text/javascript">
                    $('.myclass').click(function () {
                        debugger;
                        var id = $('#hid').val();
                        var obj = {
                            EmployeeId: $('#EmployeeId').val(),
                            UserName: $('#UserName').val(),
                            Password: $('#Password').val(),
                            UserTypeId: $('#UserTypeId').val(),
                            UserTypeName: $('#UserTypeId option:selected').text()
                        }
                        $.ajax({
                            type: 'Get',
                            url: '/Employee/Authorizeupdatesave?id=' + id,
                            contentType: "application/json?charset=utf-8",
                            data: obj,
                            success: function (xhr, status, success) {
                                location.href = "/Employee/Authorize";
                                toastr.options.positionClass = 'toast-top-center';
                                toastr["success"]("Data Has Been Save ", "Dear,User");
                            },
                        });
                    });
                </script>
            }
