﻿@model payrollado.Models.Modal
@{
    ViewBag.Title = "list";
}
@section Styles{
    @*<style>
            span.error {
                display: block;
                visibility: hidden;
                color: red;
                font-size: 80%;
            }
            tr.error {
                background-color: rgba(255,0,0,0.35);
            }
        </style>*@
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
   }
<div class="card">
    <div class="card-body">
        <table id="mytable" class="table-bordered ">
            <thead>
                <tr>
                    <th style="text-align:center">Employee Id</th>
                    <th style="text-align:center">Full Name</th>
                 
                    <th style="text-align:center">Email</th>
                    @*<th style="text-align:center">Addres</th>
                    <th style="text-align:center">Contact No</th>
                    <th style="text-align:center">NIC</th>
                    <th style="text-align:center">Date Of Birth</th>
                    <th style="text-align:center">Date Of Joining</th>*@
                    <th style="text-align:center">Status Active</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.employees)
                {
                    <tr>
                        <td>@employee.EmployeeId</td>
                        <td>@employee.FirstName &nbsp; @employee.LastName </td>
                       
                        <td>@employee.Email</td>
                        @*<td>@employee.Address</td>
                        *@
                        <td>@(employee.IsActive==true ? "Yes" :"No")</td>
                        <td><a style="width:100%; height:100%" class="btn btn-danger" href="@Url.Action("ListDelete","Employee", new { id = @employee.EmployeeId   })"><span>Delete</span></a></td>
                        <td><a style="width:100%; height:100%" class="btn btn-success" href="@Url.Action("Index","Employee", new { id = @employee.EmployeeId })"><span>Edit</span></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-danger">
            @ViewBag.msg
        </div>
    </div>
</div>
<hr />
@section
    Scripts
    {
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

          $(document).ready(function () {
              $('#mytable').DataTable();
          });

</script>
    }
    
    @*<table border="1" class="table-bordered container-fluid">
            <thead>
                <tr>
                    <th>Last Degree</th>
                    <th>Institute</th>
                    <th>Grade</th>
                    <th>Division</th>
                    <th>Percentage</th>
                    <th>Passing Year</th>
                    <th>Created By</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var empedu in Model.employeeEducations)
            {
                <tr>
                    <td>@empedu.LastDegree</td>
                    <td>@empedu.Institute</td>
                    <td>@empedu.Grade</td>
                    <td>@empedu.Division</td>
                    <td>@empedu.Percentage</td>
                    <td>@Html.DisplayFor(x => @empedu.PassingYear)</td>
                    <td>@empedu.CreatedBy</td>
                    <td>@empedu.CreatedAt</td>
                    <td><input type="hidden" value="@empedu.EmployeeEducationId" id="empedu" /></td>
                </tr>
            }
        </table>*@

    @*<td>@employee.DepartmentId</td>
        <td>@employee.Designation_Id</td>*@
