﻿@model payrollado.Models.SalaryModel
@section Styles{
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 80%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}


@using (Html.BeginForm("Create", "Salary", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.EmployeeId)
            @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
            <span class="error">Please Select a Employee</span>
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.SalaryMonth)
            @Html.EditorFor(x => x.SalaryMonth , new { @class = "form-control" })
            <span class="error">Please Select a SalaryMonth</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x => x.BasicSalary)
            @Html.TextBoxFor(x => x.BasicSalary, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(x => x.AllowanceAmount)
            @Html.TextBoxFor(x => x.AllowanceAmount, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(x => x.AllowanceType)
            @Html.TextBoxFor(x => x.AllowanceType, new { @class = "form-control" })
        </div>
        <div class="col-md-3">
            @Html.LabelFor(x => x.TotalAbsent)
            @Html.TextBoxFor(x => x.TotalAbsent, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x => x.deducAmount)
            @Html.TextBoxFor(x => x.deducAmount, new { @class = "form-control" })
          </div>
        <div class="col-md-3">
            @Html.LabelFor(x => x.NetAmount)
            @Html.TextBoxFor(x => x.NetAmount, new { @class = "form-control" })
         </div>
            @Html.HiddenFor(x => x.hid)

        </div>

}


