﻿@model List<payrollado.Models.SalaryModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive ">
                <table border="1" class="table-bordered container-fluid ">
                    <thead>
                        <tr>
                            <th>Salary Id</th>
                            <th>Full Name</th>
                            <th>Salary Amount</th>
                            <th>Salary Month</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row">
                            <td>@(item.SalaryId != 0 ? item.SalaryId : 0)</td>
                            <td>@item.FirstName  &nbsp;  @item.LastName </td>
                            <td>@(item.TotalAmount != 0 ? item.TotalAmount : 0)</td>
                            <td>@item.SalaryMonth.ToLongDateString()</td>
                            <td><button class="btn btn-success myclass" style="width:100%; height:100%;" value="@item.EmployeeId">Edit</button></td>
                            <td><button class="btn btn-danger myclassdel" style="width:100%; height:100%;" value="@item.SalaryId">Delete</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>