﻿@model List<payrollado.Models.SalaryModel>
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    
        <style>
            span.error {
                display: block;
                visibility: hidden;
                color: red;
                font-size: 80%;
            }

            tr.error {
                background-color: rgba(255,0,0,0.35);
            }
        </style>
    
}
<button class="btn btn-primary" id="call" style="margin-top:30px;">Generate Salary</button>
<div id="part">
</div>
@{
    payrollEntities4 db = new payrollEntities4();
    var chk = db.multi().ToList();
    if (chk.Count != 0)
    {
        @Html.Partial("_Tablerend", Model)

    }
}

@section Models
    {
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-lg  modal-dialog ">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Please Add a Salary </h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="dvCreate"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" style="margin-top:15px;" value="Save" id="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section
    scripts
        {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">

        $('.myclass').click(function () {
            debugger;
            var id = $(this).val();
                //$('.myclass').data('id');
            $.ajax({
                type: 'Get',
                url: '/Salary/update?id=' + id,
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();
                    $('#SalaryMonth').datepicker({
                        format: 'yyyy-mm-dd',
                        orientation: "bottom auto",
                        autoclose: true
                    });
                    $('#AllowanceAmount').change(function () {
                        allowance();
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('.myclassdel').click(function () {
            debugger;
            var id = $(this).val();
            bootbox.confirm("Do You Really want to delete record? ", function (result) {
                if (result) {
                    debugger;
                    $.ajax({
                        type: 'Get',
                        url: '/Salary/DeleteSalary?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        success: function (data) {
                            debugger;
                            $("#mymodal").modal("hide");
                            location.reload();

                        },
                    })
                }
            })
        })

        function allowance() {
            debugger;
            var sum = 0;
            var b = $('#BasicSalary').val();
            var a = $('#AllowanceAmount').val();
            var ab = $('#TotalAbsent').val();
            var day = 30;
            var div = (b / day).toFixed(2) * ab;
            var bf = parseFloat(b);
            var af = parseFloat(a);
            if (a == "")
            {
                sum = (b + 0) - div;
            }
            else
            {
               sum  = (bf + af) - div;

            }
           
            $('#NetAmount').val(sum.toFixed(2))
        }

        $('#call').click(function () {
            debugger;
            $.ajax({
                type: 'Get',
                url: '/Salary/Create',
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();
                    $('#SalaryMonth').datepicker({
                        format: 'dd-MM-yyyy',
                        orientation: "bottom auto",
                        autoclose: true
                    });
                    $("#EmployeeId").on("change", function () {
                        EmployeeId();                        
                        if ($('#EmployeeId option:selected').text() == "---Select---") {
                            $('#EmployeeId').siblings('span.error').css('visibility', 'visible');
                        }
                        else
                        {
                            $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
                        }
                    });
                    $('#AllowanceAmount').change(function () {
                        allowance();
                    });
                    $('#SalaryMonth').change(function () { 
                    if ($('#SalaryMonth').val() == "01/01/0001 00:00:00") {
                        $('#SalaryMonth').siblings('span.error').css('visibility', 'visible');
                    }
                    else {
                        $('#SalaryMonth').siblings('span.error').css('visibility', 'hidden');
                        }
                    })
                   },
                error: function (error) {
                    console.log(error)
                }
            });
        });

        function EmployeeId() {
            var EmployeeId = $('#EmployeeId option:selected').val();
            debugger;
            $.ajax({
                method: 'Get',
                url: '@Url.Action("EmployeeId", "Salary")',
                data: { EmployeeId: EmployeeId },
                success: function (result) {
                    console.log(result);
                    debugger;
                    for (var i = 0; i < result.length; i++)
                    {
                        $('#BasicSalary').val(result[i].BasicSalary)
                    }
                    $('#BasicSalary').val(result[0].BasicSalary);
                    $('#AllowanceAmount').val(result[0].AllowanceAmount);
                    $('#TotalAbsent').val(result[0].TotalAbsent);
                    $('#EmployeeTotalAmount').val(result[0].EmployeeTotalAmount);
                    $('#AllowanceType').val(result[0].AllowanceType);
                    var bs = $('#BasicSalary').val();
                    var abst = $('#TotalAbsent').val();
                    var day = 30
                    var res = bs / day * abst
                    $('#deducAmount').val(res.toFixed(2));
                    var al = $('#AllowanceAmount').val();
                    var dc = $('#deducAmount').val();
                    var bsc = parseFloat(bs)
                    var alc = parseFloat(al)
                    var dsc = parseFloat(dc)
                    var sum = bsc + alc - dsc;
                    $('#NetAmount').val(sum.toFixed(2))
                }
            })
        }
        $('#Save').click(function ()
        {
            var isallvalid = true;
            if ($('#EmployeeId option:selected').text() == "---Select---") {
                $('#EmployeeId').siblings('span.error').css('visibility', 'visible');
                isallvalid = false;
            }
            else
            {
                $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
            }
            if ($('#SalaryMonth').val() == "01/01/0001 00:00:00") {
                $('#SalaryMonth').siblings('span.error').css('visibility', 'visible');
                isallvalid = false;
            }
            else {
                $('#SalaryMonth').siblings('span.error').css('visibility', 'hidden');
            }
            if (isallvalid) {
                debugger;
                var chek = $('#hid').val();
                console.log(chek);
                if ($('#hid').val() == 0) {

                    var obj = {
                        SalaryMonth: $('#SalaryMonth').val(),
                        NetAmount: $('#NetAmount').val(),
                        EmployeeId: $('#EmployeeId').val()
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Salary/Save',
                        contentType: "application/json?charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (response) {
                            debugger;
                            $("#myModal").modal("hide");
                            location.reload();
                        },
                    })
                }

                else {
                    var id = $('#hid').val();
                    var obj2 = {
                        SalaryMonth: $('#SalaryMonth').val(),
                        NetAmount: $('#NetAmount').val(),
                        EmployeeId: $('#EmployeeId').val()
                    }
                    $.ajax({
                        type: 'Get',
                        url: '/Salary/updatesave?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        data: JSON.stringify(obj2),
                        success: function (response) {
                            debugger;
                            $("#mymodal").modal("hide");
                            location.reload();
                        }
                    })
                }
            }
          });
    </script>

}

