﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css" ">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="../../dist/img/user2-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
                        <span class="d-none d-md-inline">@Session["Username"]</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- User image -->
                        <li class="user-header bg-primary">
                            <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                            <p>
                                @Session["Username"] - Web Developer
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        @{
                            var id2 = Convert.ToInt32(Session["UserTypeId"]);
                        }
                        <li class="user-footer">
                            <a class="btn btn-default" href="@Url.Action("Sess","Employee")">LogOut</a>
                            @if (id2 == 1)
                            {
                                <a class="btn btn-default float-right" href="@Url.Action("Authorize","Employee")">Setting</a>
                            }
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                    </div>*@
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        @{
                            var id = Convert.ToInt32(Session["UserTypeId"]);
                        }

                        @if (id == 1002 || id == 1)
                        {
                            <li class="nav-item has-treeview menu-open">
                                <a href="#" class="nav-link active">
                                    <i class="nav-icon  -alt"></i>
                                    <p>
                                        Setup Files
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddDepartment", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-adjust"></i>
                                            <p>Add-Department</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddDesignation", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-map-signs"></i>
                                            <p>Add-Designation</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddAllowance", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-coins"></i>
                                            <p>Add-Allowance</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddLeaves", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-calendar-plus"></i>
                                            <p>Add-Leave</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddEmployee", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-user-tie nav-icon"></i>
                                            <p>Add-EmployeeType</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddDeduction", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-balance-scale-right nav-icon"></i>
                                            <p>Add-Deduction</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddHoliday", "Master", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                            <i class="fas fa-bed"></i>
                                            <p>Add-Holiday</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon  -alt"></i>
                                <p>
                                    Employee
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Employee", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-chalkboard-teacher"></i>
                                        <p>Employee-Create</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("List","Employee", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-users"></i>
                                        <p>Employee-List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon -alt"></i>
                                <p>
                                    Employee-Salary
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","EmployeeSalary", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-cash-register"></i>
                                        <p>Salary-Make</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("list","EmployeeSalary", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-chart-pie"></i>
                                        <p>Salary-Cheak</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon  -alt"></i>
                                <p>
                                    Employee-Attendance
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","EmployeeAttendance", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-calendar-alt"></i>
                                        <p>Attendance</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("leave","EmployeeAttendance", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-shield-alt"></i>
                                        <p>Leave</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview menu-open">
                                    <a href="@Url.Action("list","EmployeeAttendance", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="fas fa-calendar-check"></i>
                                        <p>Leave-Cheaks</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon -alt"></i>
                                <p>
                                    Salary
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index","Salary", new { Empid = Session["EmployeeId"] })" class="nav-link active">
                                        <i class="far fa-money-bill-alt"></i>
                                        <p>Salary-Create</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content-wrapper" style="padding:20px 20px 20px 20px;">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Models", required: false)

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    @*<script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>*@
    @*<script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>*@
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/dist/js/pages/dashboard.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/dist/js/demo.js"></script>

    @RenderSection("scripts", required: false)

</body>    
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</html>
