﻿@model payrollado.Models.AttendanceModel
@*@using (Html.BeginForm("leave","EmployeeAttendance",FormMethod.Post, new {  ))*@
@section Styles{
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 150%;
        }
        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
    }
    <div class="card">
        <div class="card-body">
            @{
                <form onsubmit="return ajaxpost(this)" id="formsub" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.EmployeeId)
                            @Html.DropDownListFor(x => x.EmployeeId, null, "---Select---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.EmployeeId, "", new { @style = "color:red" })
                            @*<span class="error">EmployeeId Must Required</span>*@
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.LeaveTypeId)
                            @Html.DropDownListFor(x => x.LeaveTypeId, null, "---Select---", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.LeaveTypeId, "", new { @style = "color:red" })
                            @*<span class="error">LeaveType Must required</span>*@
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.leaveDays)
                            @Html.TextBoxFor(x => x.leaveDays, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.Reason)
                            @Html.TextAreaFor(x => x.Reason, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Reason, "", new { @style = "color:red" })
                            @*<span class="error">Reason Must Required</span>*@
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.leaveDeduct)
                            @Html.TextBoxFor(x => x.leaveDeduct, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.Remianingleaves)
                            @Html.TextBoxFor(x => x.Remianingleaves, new { @class = "form-control", @readonly = "readonly" })
                            @Html.HiddenFor(x => x.rleaves)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.AttendanceDatef)
                            @Html.TextBoxFor(x => x.AttendanceDatef, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                            @*@Html.ValidationMessageFor(x => x.AttendanceDatef, "", new { @style = "color:red" })*@
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.AttendanceDatet)
                            @Html.TextBoxFor(x => x.AttendanceDatet, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date" })
                            @*@Html.ValidationMessageFor(x => x.AttendanceDatet, "", new { @style = "color:red" })*@
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.Attachment)
                            <input type="file" id="AttachmentFile" name="AttachmentFile" value="Upload" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-top:15px;">Save</button>
                    @Html.HiddenFor(x=> x.levhid)
                </form>
            }
        </div>
    </div>
      @section Scripts {
    <script>
    document.getElementById('EmployeeId').addEventListener("change", attendance);
    document.getElementById('LeaveTypeId').addEventListener("change", salary);
    function salary() {
        debugger;
        var LeaveTypeId = $('#LeaveTypeId').val();
        if(LeaveTypeId != "")
        {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("LeaveTypeId", "EmployeeAttendance")',
                data: { LeaveTypeId: LeaveTypeId },
                success: function (result) {
                    console.log(result);
                    debugger;
                    $('#leaveDays').val(result.days)
                }
            })
        }   
    }
    function attendance() {
        debugger;
        var EmployeeId = $('#EmployeeId').val();
        if(EmployeeId != "") {
            $.ajax({
                method: 'Get',
                url: '@Url.Action("attenadce", "EmployeeAttendance")',
                data: { EmployeeId: EmployeeId },
                success: function (result) {
                    $('#rleaves').val(result)
                }
            })
        }
    };
    $('#AttendanceDatef').change(function () {
        if ($('#EmployeeId option:selected').text() == "---Select---")
        {
            toastr.options.positionClass = 'toast-bottom-full-width';
            toastr["warning"]("First Select Employee ", "Dear,User");
            $('#AttendanceDatef').val('dd/mm/yyyy');
        }
    })

            $('#LeaveTypeId').change(function () {
                if ($('#LeaveTypeId').val().trim() != "")
                {
                    $('#LeaveTypeId').siblings('span.error').css('visibility', 'hidden');
                }

            })
            $('#EmployeeId').change(function () {
                if ($('#EmployeeId').val().trim() != "") {
                    $('#EmployeeId').siblings('span.error').css('visibility', 'hidden');
                }

            })
            $('#Reason').change(function () {
                if ($('#Reason').val().trim() != "") {
                    $('#Reason').siblings('span.error').css('visibility', 'hidden');
                }

            })
       $('#AttendanceDatet').change(function () {
        debugger;
           if ($('#EmployeeId option:selected').text() != "---Select---" && $('#AttendanceDatef').val() != "" && $('#LeaveTypeId option:selected').text() != "---Select---") {
            debugger;
            var dat1 = document.getElementById('AttendanceDatef').value;
            var date1 = new Date(dat1);
            var dat2 = document.getElementById('AttendanceDatet').value;
            var date2 = new Date(dat2)
            var oneDay = 24 * 60 * 60 * 1000;
            if (dat1 <= dat2) {
                var diffDays = date2 - date1;
                var div = diffDays / oneDay;
                var sub = div + 1;
                $('#leaveDeduct').val(sub);
                var num1 = $('#leaveDays').val();
                var num2 = $('#leaveDeduct').val(); 
                var sum = num1 - num2
                if (sum >= 0) {
                    $('#Remianingleaves').val(sum)
                }
                else
                {
                    toastr.options.positionClass = 'toast-bottom-full-width';
                    toastr["warning"]("You have Exceed Limit", "Dear:User");
                    $('#AttendanceDatet').val('dd/mm/yyyy');
                    $('#Remianingleaves').val('');
                }
            }
            else
            {
                toastr.options.positionClass = 'toast-bottom-full-width';
                toastr["warning"]("To Date Must Greather than Todate ", "Dear:User");
                $('#AttendanceDatet').val('dd/mm/yyyy');
            }
        }
        else {
            toastr.options.positionClass = 'toast-bottom-full-width';
               toastr["warning"]("Please Select From-Date , Employee Must and leaveType ", "Dear:User");
               $('#AttendanceDatet').val('dd/mm/yyyy');
        }
      });


    function ajaxpost(formData) {
        debugger;
        var isallvalid = true;
        if ($('#LeaveTypeId option:selected').text() == "---Select---") {
            isallvalid = false;
            $('#LeaveTypeId').siblings('span.error').css('visibility', 'visible');
        }
        else
        {
            $('#LeaveTypeId').siblings('span.error').css('visibility', 'hidden')
        }
        if ($('#LeaveTypeId option:selected').text() == "---Select---") {
            isallvalid = false;
            $('#LeaveTypeId').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#LeaveTypeId').siblings('span.error').css('visibility', 'hidden')
        }
        if ($('#Reason').text() == "") {
            isallvalid = false;
            $('#Reason').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Reason').siblings('span.error').css('visibility', 'hidden')
        }
        if ($('#AttendanceDatef') == "---Select---") {
            isallvalid = false;
            $('#AttendanceDatef').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#AttendanceDatef').siblings('span.error').css('visibility', 'hidden')
        }
        if ($('#AttendanceDatet') == "---Select---") {
            isallvalid = false;
            $('#AttendanceDatet').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#AttendanceDatet').siblings('span.error').css('visibility', 'hidden')
        }
        if (isallvalid)
        {
            debugger;
            var ajaxConfig = {
                type: "POST",
                url: "/EmployeeAttendance/leave",
                data: new FormData(formData),
                success: function (result) {
                    debugger;
                    var data = "Your Request Has been submitted";
                    var data2 = "you Have No More leaves";
                    if (result == data2) {
                        location.reload();
                        toastr.options.positionClass = 'toast-bottom-full-width';
                        toastr["warning"]("You Have No More Leaves Cheak Your Attendance ", " Dear,User");
                    }
                    else if (result == data) {
                        location.reload();
                        toastr.options.positionClass = 'toast-top-center';
                        toastr["success"]("Your Request Has been submitted", " Dear,User");
                    }
                    else
                    {
                        location.reload();
                        toastr.options.positionClass = 'toast-top-center';
                        toastr["success"]("Date of joinining Conflict", " Dear,User");
                    }
                    clear();
                }
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
        function clear() {
            $('input[type="text"]').val("");
            $('select').each(function () { $(this).val('') })
            $('#AttendanceDatef').val('dd/mm/yyyy');
            $('#AttendanceDatet').val('dd/mm/yyyy');
            $('#Reason').val('');
        }


                </script>

                   }