﻿@model payrollado.Models.EmployeeModal
@{
    ViewBag.Title = "listupdate";
}
@section Styles{
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 80%;
    }
    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("listupdate", "Employee", FormMethod.Post))
        {
            <legend>Employee Personal Info</legend>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.FirstName)
                    <span class="error">FirstName is Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.LastName)
                    <span class="error">LastName is Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Email)
                    <span class="error">Email is Required</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.ContactNO)
                    @Html.TextBoxFor(x => x.ContactNO, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ContactNO)
                    <span class="error">ContactNo is Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.NIC)
                    @Html.TextBoxFor(x => x.NIC, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.NIC)
                    <span class="error">Nic is Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.DateofBirth)
                    @Html.TextBoxFor(x => x.DateofBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    <span class="error">Date 0F Birth is Required </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.DateofJoining)
                    @Html.TextBoxFor(x => x.DateofJoining, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    <span class="error">Date 0F Joiing is Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.DepartmentId)
                    @Html.DropDownListFor(x => x.DepartmentId, null, "-----SelectItem--------", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.DepartmentId)*@
                    <span class="error">Please Select a Department</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Designation_Id)
                    @Html.DropDownListFor(x => x.Designation_Id, null, "---SelectItem---- ", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.Designation_Id)*@
                    <span class="error">Please Select a Designation</span>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(x => x.Gender)
                        @Html.DropDownList("Gender",new List<SelectListItem>
                        {
                       new SelectListItem{ Text= "---Select---" ,Value="0"  },
                        new SelectListItem{ Text= "Male" ,Value="1"  },
                        new SelectListItem{ Text= "Female" ,Value="2"  },

                       }, new {@class = "form-control" } )
                        @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                        <span class="error">Please Select a Gender</span>
                    </div>

                    <div class="col-lg-4">
                        @Html.LabelFor(x => x.EmployeeTypeId)
                        @Html.DropDownListFor(x => x.EmployeeTypeId, null, "---Select---", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(x => x.EmployeeTypeId)*@
                        <span class="error">Please Select a EmployeeType</span>
                    </div>
                </div>
            <legend style="margin-top:10px;">Employee Education Info</legend>

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.LastDegree)
                    @Html.TextBoxFor(x => x.LastDegree, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.LastDegree)*@
                    <span class="error">Last Degree Required  </span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Institute)
                    @Html.TextBoxFor(x => x.Institute, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.LastDegree)*@
                    <span class="error">Institute Name Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.PassingYear)
                    @Html.TextBoxFor(x => x.PassingYear, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                    @*@Html.ValidationMessageFor(x => x.PassingYear)*@
                    <span class="error">Passing year Required</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Division)
                    @Html.TextBoxFor(x => x.Division, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.Division)*@
                    <span class="error">Division Required</span>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Percentage)
                    @Html.TextBoxFor(x => x.Percentage, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.Percentage)*@
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Grade)
                    @Html.TextBoxFor(x => x.Grade, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(x => x.Gender)*@
                    <span class="error">Percentage Required</span>
                    <span class="error">Grade Required</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="margin-top:20px;">
                    <input class="btn btn-success" type="button" id="Save" value="save" />
                    @Html.LabelFor(x => x.IsActive)
                    @Html.CheckBoxFor(x => x.IsActive)
                </div>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.EmployeeId)
                </div>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.EmployeeEducationId)
                </div>
            </div>
        
    }
</div>
    </div>
@section Scripts

{

<script type="text/javascript">



    function clear() {
        $('input[type="text"]').val("");
        $('select').each(function () { $(this).val('') })
        $('#DateofBirth').val('dd/mm/yyyy');
        $('#DateofJoining').val('dd/mm/yyyy');
        $('#Gender').prop('selectedIndex', 0);
        $('#PassingYear').val('dd/mm/yyyy');
    }


 $('#DepartmentId').change(function () {
            debugger;
            if ($('#DepartmentId option:selected').text() == '---Select---')
            {
                var fill = '<option value="-1" >Select</option>'                
                $('#Designation_Id').html(fill)
            }
            else {
                var DepartmentId = $('#DepartmentId option:selected').val();
                debugger;
                $.ajax({
                    method: 'Get',
                    url: '@Url.Action("departmentID", "Employee")',
                    data: { DepartmentId: DepartmentId },
                    success: function (result) {
                        debugger;
                          console.log(result);
                        var fill = '<option value="-1" >Select</option>'
                        for (var i = 0; i < result.length; i++) {
                            fill += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                        }
                        $('#Designation_Id').html(fill);
                    }
                })
            }
        })
    $('#FirstName').change(function () {
        if ($('#FirstName').val().trim() != "") {
            $('#FirstName').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#FirstName').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#LastName').change(function () {
        if ($('#LastName').val().trim() != "") {
            $('#LastName').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#LastName').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Email').change(function () {
        if ($('#Email').val().trim() != "") {
            $('#Email').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#Email').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#ContactNO').change(function () {
        if ($('#ContactNO').val().trim() != "") {
            $('#ContactNO').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#ContactNO').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#NIC').change(function () {
        if ($('#NIC').val().trim() != "") {
            $('#NIC').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#NIC').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#DateofJoining').change(function () {
        if ($('#DateofJoining').val().trim() != "") {
            $('#DateofJoining').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#DateofJoining').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#DepartmentId').change(function () {
        if ($('#DepartmentId').val().trim() != "") {
            $('#DepartmentId').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#DepartmentId').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#DateofBirth').change(function () {
        if ($('#DateofBirth').val().trim() != "") {
            $('#DateofBirth').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#DateofBirth').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Designation_Id').change(function () {
        debugger;
        if ($('#Designation_Id option:selected').text() == "---Select---") {
            $('#Designation_Id').siblings('span.error').css('visibility', 'visible')
        }
        else {
            $('#Designation_Id').siblings('span.error').css('visibility', 'hidden')
        }
    })
    $('#Institute').change(function () {
        if ($('#Institute').val().trim() != "") {
            $('#Institute').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#Institute').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Grade').change(function () {
        if ($('#Grade').val().trim() != "") {
            $('#Grade').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#Grade').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Division').change(function () {
        if ($('#Division').val().trim() != "") {
            $('#Division').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#Division').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Percentage').change(function () {
        if ($('#Percentage').val().trim() != "") {
            $('#Percentage').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#Percentage').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Gender').change(function () {
        if ($('#Gender option:selected').text() == "---Select---") {
            $('#Gender').siblings('span.error').css('visibility', 'visible')
        }
        else {
            $('#Gender').siblings('span.error').css('visibility', 'hidden')
        }
    })
    $('#EmployeeTypeId').change(function () {
        if ($('#EmployeeTypeId option:selected').text() == "---Select---") {
            $('#EmployeeTypeId').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#PassingYear').change(function () {
        if ($('#PassingYear').val().trim() != "") {
            $('#PassingYear').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#PassingYear').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#LastDegree').change(function () {
        if ($('#LastDegree').val().trim() != "") {
            $('#LastDegree').siblings('span.error').css('visibility', 'hidden')
        }
        else {
            $('#LastDegree').siblings('span.error').css('visibility', 'visible')
        }
    })
    $('#Save').click(function () {
        var isallvalid = true;
        if ($('#FirstName').val().trim() == '') {
            isallvalid = false;
            $('#FirstName').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#FirstName').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#LastName').val().trim() == '') {
            isallvalid = false;
            $('#LastName').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#LastName').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Email').val().trim() == '') {
            isallvalid = false;
            $('#Email').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Email').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#ContactNO').val().trim() == '') {
            isallvalid = false;
            $('#ContactNO').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#ContactNO').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#DateofBirth').val().trim() == '') {
            isallvalid = false;
            $('#DateofBirth').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#DateofBirth').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#DateofJoining').val().trim() == '') {
            isallvalid = false;
            $('#DateofJoining').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#DateofJoining').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#DepartmentId').val().trim() == '') {
            isallvalid = false;
            $('#DepartmentId').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#DepartmentId').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Designation_Id').val().trim() == '') {
            isallvalid = false;
            $('#Designation_Id').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Designation_Id').siblings('span.error').css('visibility', 'Hidden');
        }
        if ($('#LastDegree').val().trim() == '') {
            isallvalid = false;
            $('#LastDegree').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#LastDegree').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Institute').val().trim() == '') {
            isallvalid = false;
            $('#Institute').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Institute').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#PassingYear').val().trim() == '') {
            isallvalid = false;
            $('#PassingYear').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#PassingYear').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Division').val().trim() == '') {
            isallvalid = false;
            $('#Division').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Division').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Percentage').val().trim() == '') {
            isallvalid = false;
            $('#Percentage').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Percentage').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Percentage').val().trim() == '') {
            isallvalid = false;
            $('#Percentage').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Percentage').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Grade').val().trim() == '') {
            isallvalid = false;
            $('#Grade').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Grade').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#NIC').val().trim() == '') {
            isallvalid = false;
            $('#NIC').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#NIC').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#NIC').val().trim() == '') {
            isallvalid = false;
            $('#NIC').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#NIC').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#EmployeeTypeId').val().trim() == '') {
            isallvalid = false;
            $('#EmployeeTypeId').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#EmployeeTypeId').siblings('span.error').css('visibility', 'hidden');
        }
        if ($('#Gender').val().trim() == '') {
            isallvalid = false;
            $('#Gender').siblings('span.error').css('visibility', 'visible');
        }
        else {
            $('#Gender').siblings('span.error').css('visibility', 'hidden');
        }
        if (isallvalid) {
            debugger;
           
            var info = {
                "FirstName": $('#FirstName').val(),
                "LastName": $('#LastName').val(),
                "Email": $('#Email').val(),
                "Address": $('#Address').val(),
                "ContactNO": $('#ContactNO').val(),
                "NIC": $('#NIC').val(),
                "DateofBirth": $('#DateofBirth').val(),
                "DateofJoining": $('#DateofJoining').val(),
                "DepartmentId": $('#DepartmentId').val(),
                "Designation_Id": $('#Designation_Id').val(),
                "IsActive": $('#IsActive').val(),
                "LastDegree": $('#LastDegree').val(),
                "Institute": $('#Institute').val(),
                "PassingYear": $('#PassingYear').val(),
                "Division": $('#Division').val(),
                "Percentage": $('#Percentage').val(),
                "Grade": $('#Grade').val(),
                "DepartmentName": $("#DepartmentId option:selected").text(),
                "DesignationName": $("#Designation_Id option:selected").text(),
                "Gender": $("#Gender").val(),
                "EmployeeTypeId": $('#EmployeeTypeId').val(),
                "EmployeeId": $('#EmployeeId').val(),
                "EmployeeTypeName": $('#EmployeeTypeId option:selected').text(),
                "EmployeeEducationId": $('#EmployeeEducationId').val()           
                  }
            $.ajax({
                type: 'Post',
                url: '/Employee/listupdate',
                data: JSON.stringify(info),
                contentType: "application/json?charset=utf-8",
                success: function (data, status, xhr) {
                    toastr.options.positionClass = 'toast-top-center';
                    toastr["success"]("Data Has Been Updated ", "Dear,User");
                    clear();
                },
            });
        }
    });
</script>
}