﻿@model payrollado.Models.LoginSinup
@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top:30px;">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.UserName)
                @Html.TextBoxFor(x => x.UserName, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.UserTypeId)
                @Html.DropDownListFor(x => x.UserTypeId, null, "------Select----", htmlAttributes: new { @class = "form-control" })<br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password, htmlAttributes: new { @class = "form-control" })<br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Login" />
                @Html.ActionLink("SINUP", "Sinup", "Home")
            </div>
        </div>
    }
</div>
<div class="text-danger">
    @ViewBag.Msg
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $('#submit').click(function () {
        debugger;
        var obj = {
            "UserName": $('#UserName').val(),
            "UserTypeId": $('#UserTypeId').val(),
            "Password": $('#Password').val()
        }
        $.ajax({
            type: 'Post',
            url: "/Home/Index",
            data: JSON.stringify(obj),
            contentType: "application/json?charset=utf-8",
            success: function (data, status, xhr) {
                alert(data.status);
            },

        })

    })
    
</script>