﻿@model payrollado.Models.LoginSinup
@{
    ViewBag.Title = "Sinup";
}

@using (Html.BeginForm("Sinup", "Home", FormMethod.Post))
{
<div class="row">
    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName,new  { @class= "form-control" })<br />
    @Html.LabelFor(x=> x.Password)
    @Html.TextBoxFor(x=> x.Password)<br />
<input type="submit" value="Register" />
</div>   
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $('#submit').click(function () {
        debugger;
        var obj = {
            "UserName": $('#UserName').val(),
            "Password": $('#Password').val(),
            "UserTypeId": $('#UserTypeId').val()
        }
        $.ajax({
            type: 'Post',
            url: "/Home/Sinup",
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            success: function (data, status, xhr) {
                alert(data.status);
            },
        })        
    })
</script>
