﻿
@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "_Createduc";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Createduc", "Setup", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(x => x.DedeuctionName)
                    @Html.TextBoxFor(x => x.DedeuctionName, new { @class = "form-control", @placeholder = "Deduction Name" })
                    @Html.HiddenFor(x => x.hidduc)
                    <span class="error">Please Insert  a Department Name</span>
                </div>
            </div>

        }
        </div>
    </div>
