﻿@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "_Createdes";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("SaveDesignation", "Master", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.DesName)
                    @Html.TextBoxFor(x => x.DesName, new { @class = "form-control", @placeholder = "Designation Name" })
                    @Html.HiddenFor(x => x.hides)
                    <span class="error">Please Insert Designation Name</span>
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.fkDepartmentId)
                    @Html.DropDownListFor(x => x.fkDepartmentId, null, "---Select---", new { @class = "form-control" })
                    <span class="error">Please Select Department</span>
                </div>
            </div>
        }
        </div>
</div>