﻿@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "_Createalw";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("CreateAllowance", "Setup", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.allowanceType)
                    @Html.TextBoxFor(x => x.allowanceType, new { @class = "form-control", @placeholder = "AllowanceType Name" })
                    <span class="error">Please Insert AllowanceType</span>
                    @Html.HiddenFor(x => x.hidalw)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.EmployeeTypeId)
                    @Html.DropDownListFor(x => x.EmployeeTypeId, null, "---Select---", new { @class = "form-control", @placeholder = "Select EmployeeType" })
                    <span class="error">Please Select a EmployeeType</span>
                </div>
            </div>
        }
        </div>
</div>