﻿@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "_Createlev";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("CreateLeaves", "Master", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(x => x.LeaveType)
                    @Html.TextBoxFor(x => x.LeaveType, new { @class = "form-control", @placeholder = "LeaveType Name" })
                    <span class="error">Please Insert a Leave Type</span>
                    @Html.HiddenFor(x => x.hidlev)
                </div>
            </div>
        }
        </div>
    </div>

