﻿@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "_Createemp";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("CreateEmployee", "Setup", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(x => x.EmployeeTypeName)
                    @Html.TextBoxFor(x => x.EmployeeTypeName, new { @class = "form-control", @placeholder = "EmployeeType Name" })
                    <span class="error">Please Add Employee Type </span>
                    @Html.HiddenFor(x => x.hidemp)
                </div>
            </div>
        }
        </div>
</div>