﻿@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "_Createdep";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("CreateDepartment", "Setup", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-9">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Department Name" })
                    <span class="error">Please Add a Deapertment Name</span>
                </div>
                @Html.HiddenFor(x => x.hidep)


            </div>
        }
      </div>
    </div>
