﻿@model List<payrollado.Models.SetupModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive">
                <table border="1" class="table-bordered container-fluid ">
                    <thead>
                        <tr>
                            <th style="text-align:center">Allowance TypeId</th>
                            <th style="text-align:center">Allowance Type</th>
                            <th style="text-align:center">Employee Type </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row">
                            <td>@(item.AllowancTypeid != 0 ? item.AllowancTypeid : 0)</td>
                            <td>@(item.allowanceType != null ? item.allowanceType : null)</td>
                            <td>@(item.EmployeeTypeName != null ? item.EmployeeTypeName : null)</td>
                            <td><button style="width:100%; height:100%;" class="btn btn-success myclass" value="@item.AllowancTypeid">Edit</button></td>
                            <td><button style="width:100%; height:100%;"  class="btn btn-danger myclass2" value="@item.AllowancTypeid">Delete</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
       </div>
    </div>
  

