﻿
@model List<payrollado.Models.SetupModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive">
                <table border="1" class="table-bordered container-fluid">
                    <thead>
                        <tr>
                            <th>Designation Id</th>
                            <th>Designation Name</th>
                            <th>Department Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row">
                            <td>@(item.Designation_Id != 0 ? item.Designation_Id : 0)</td>
                            <td>@(item.DesName != null ? item.DesName : null)</td>
                            <td>@(item.DepartmentName != null ? item.DepartmentName : null)</td>
                            <td><button class="btn btn-success myclass" style="width:100%; height:100%;" value="@item.Designation_Id">Edit</button></td>
                            <td><button style="width:100%; height:100%;" class="btn btn-danger myclass2" value="@item.Designation_Id">Delete</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
