﻿@model List<payrollado.Models.SetupModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive ">
                <table border="1" class="table-bordered container-fluid ">
                    <thead>
                        <tr>
                            <th>Department Id</th>
                            <th>Department Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row">
                            <td>@(item.DepartmentId != 0 ? item.DepartmentId : 0)</td>
                            <td>@(item.Name != null ? item.Name : null)</td>
                            <td><button class="btn btn-success myclass" value="@item.DepartmentId" style="width:100%; height:100%;">Edit</button>
                            <td><button style="width:100%; height:100%;" class="btn btn-danger myclass2" value="@item.DepartmentId">Delete</button></td>
                           
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
