﻿@model List<payrollado.Models.SetupModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive">
                <table border="1" class="table-bordered container-fluid">
                    <thead>
                        <tr>
                            <th>Employee TypeId</th>
                            <th>Employee Type</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row">
                            <td>@(item.EmployeeId != 0 ? item.EmployeeTypeId : 0)</td>
                            <td>@(item.EmployeeTypeName != null ? item.EmployeeTypeName : null)</td>
                            <td><button style="width:100%; height:100%" class="btn btn-success myclass" value="@item.EmployeeTypeId">Edit</button></td>
                            <td><button style="width:100%; height:100%" class="btn btn-danger myclass2" value="@item.EmployeeTypeId">Delete</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
