﻿@model List<payrollado.Models.SetupModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive">
                <table border="1" class="table-bordered container-fluid ">
                    <thead>
                        <tr>
                            <th>LeaveType Id</th>
                            <th>LeaveType Name</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row">
                                <td>@(item.LeaveTypeid != 0 ? item.LeaveTypeid : 0)</td>
                                <td>@(item.LeaveType != null ? item.LeaveType : null)</td>
                                <td>
                                    <button style="width:100%; height:100%;" class="btn btn-success myclass" value="@item.LeaveTypeid">Edit</button>
                                </td>
                                <td>
                                    <button style="width:100%; height:100%;" class="btn btn-danger myclass2" value="@item.LeaveTypeid">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


