﻿@model List<payrollado.Models.SetupModel>
<div class="wrapper" style="padding:20px 20px 20px 20px;">
    <div style="margin-top:20px">
        <div class="card">
            <div class="card-body table-responsive">
                <table border="1" class="table-bordered container-fluid ">
                    <thead>
                        <tr>
                            <th>Deduction Id</th>
                            <th>Deduction Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row">
                            <td>@(item.DeductionId != 0 ? item.DeductionId : 0)</td>
                            <td>@(item.DedeuctionName != null ? item.DedeuctionName : null)</td>
                            <td><button style="width:100%; height:100%;" class="btn btn-success myclass" value="@item.DeductionId">Edit</button></td>
                            <td><button style="width:100%; height:100%;" class="btn btn-danger myclass2" value="@item.DeductionId">Delete</button></td>
                            
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

