﻿@model List<payrollado.Models.SetupModel>
@{
    ViewBag.Title = "AddDesignation";
}

@section Styles {
    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
<button class="btn btn-primary" id="call" style="margin-top:30px;">Add Designation</button>
@{
    @Html.ValidationSummary();
    payrollEntities4 db = new payrollEntities4();
    var chk = db.Designations.ToList();
    if (chk.Count != 0)
    {
        @Html.Partial("_Tablerendes", Model)

    }
}
<div class="text-danger">
    @ViewBag.msg;
</div>
@section Models
    {
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-lg  modal-dialog ">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a Designation</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="dvCreate"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" style="margin-top:15px;" value="Save" id="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section
    scripts
        {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">

        $('.myclass2').click(function () {
            debugger;
            var id = $(this).val();
            bootbox.confirm("Do You Really want to delete record? ", function (result) {
                if (result) {
                    debugger;
                    $.ajax({
                        type: 'Get',
                        url: '/Master/DeleteDesignation?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        success: function (data) {
                            debugger;
                            $("#mymodal").modal("hide");
                            var no = "no";

                            if (no == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This record Has Been Used '
                                    });
                                })
                            }
                            else {
                                location.reload();     
                            }
                        },
                    })
                }
            })
        })

        $('#call').click(function () {
            debugger;
            $.ajax({
                type: 'Get',
                url: '/Master/CreateDesignation',
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();
                    $('#DesName').change(function () {
                        if ($('#DesName').val().trim() != "") {
                            $('#DesName').siblings('span.error').css('visibility', 'hidden')
                        }
                        else {
                            $('#DesName').siblings('span.error').css('visibility', 'visible')
                        }
                    });
                    $('#fkDepartmentId').change(function () {

                        if ($('#fkDepartmentId option:selected').text() != "---Select---") {
                            $('#fkDepartmentId').siblings('span.error').css('visibility', 'hidden')
                        }
                        else {
                            $('#fkDepartmentId').siblings('span.error').css('visibility', 'visible')
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('.myclass').click(function () {
            debugger;
            var id = $(this).val();
            //$('.myclass').data('id');
            $.ajax({
                type: 'Get',
                url: '/Master/updateDesignation?id=' + id,
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();

                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('#Save').click(function () {
            var isallvalid = true;

            debugger;
            if ($('#DesName').val().trim() == "") {
                $('#DesName').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#DesName').siblings('span.error').css('visibility', 'hidden')
            }
            if ($('#fkDepartmentId option:selected').text() == "---Select---") {
                $('#fkDepartmentId').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#fkDepartmentId').siblings('span.error').css('visibility', 'hidden')
            }
            if (isallvalid) {
                var chek = $('#hides').val();

                if ($('#hides').val() == 0) {

                    var obj = {
                        DesName: $('#DesName').val(),
                        fkDepartmentId: $('#fkDepartmentId').val()
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Master/SaveDesignation',
                        contentType: "application/json?charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            debugger;
                            $("#myModal").modal("hide");
                            var ex = "exist";
                            if (ex == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This Record Already Exist '
                                    });
                                })
                            }
                            else {
                                location.reload();
                            }
                       },
                    })
                }
                else {
                    var id = $('#hides').val();
                    var obj2 = {
                        DesName: $('#DesName').val().toUpperCase(),
                        fkDepartmentId: $('#fkDepartmentId').val()
                    }
                    $.ajax({
                        type: 'Get',
                        url: '/Master/updatesaveDesignation?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        data: obj2,
                        success: function (data) {
                            debugger;
                            $("#myModal").modal("hide");
                            var ex = "exist";
                            if (ex == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This Record Already Exist '
                                    });
                                })
                            }
                            else {
                                location.reload();
                            }
                      },
                    })
                }
            }
        });
    </script>
}

