﻿@model List<payrollado.Models.SetupModel>
@{
    /**/

    ViewBag.Title = "AddDepartment";
}

@section Styles {
    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}
<button class="btn btn-primary" id="call" style="margin-top:30px;">Add Department</button>
@{
    @Html.ValidationSummary();
    payrollEntities4 db = new payrollEntities4();
    var chk = db.Departments.ToList();
    if (chk.Count != 0)
    {
        @Html.Partial("_Tablerendep", Model)
    }
}
<div class="text-danger">
    @ViewBag.msg     
</div>

@section Models
    {
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-lg  modal-dialog ">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a Department</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="dvCreate"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" style="margin-top:15px;" value="Save" id="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section
    scripts
        {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">

        $('.myclass2').click(function () {
            debugger;
            var id = $(this).val();
            bootbox.confirm("Do You Really want to delete record? ", function (result) {
                if (result) {
                    debugger;
                    $.ajax({
                        type: 'Get',
                        url: '/Master/DeleteDepartment?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        success: function (data) {
                            debugger;
                            $("#myModal").modal("hide");
                            var no = "no";
                            if (no == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This record Has Been Used '
                                    });
                                })
                            }
                            else
                            {
                                location.reload();
                                
                            }
                        },
                    })
                }
            })
        })
        $('#call').click(function () {
            debugger;
            $.ajax({
                type: 'Get',
                url: '/Master/CreateDepartment',
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();
                    $('#Name').change(function () {
                        if ($('#Name').val().trim() != "") {
                            $('#Name').siblings('span.error').css('visibility', 'hidden')
                        }
                        else {
                            $('#Name').siblings('span.error').css('visibility', 'visible')
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('.myclass').click(function () {
            debugger;
            var id = $(this).val();
            //$('.myclass').data('id');
            $.ajax({
                type: 'Get',
                url: '/Master/update?id=' + id,
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();

                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        //$('#Name').change(function () {
        //    debugger;
        //    if ($('#Name').val().trim() != "")
        //    {
        //        $('#Name').siblings('span.error').css('visibility', 'hidden')
        //    }
        //    else
        //    {
        //        $('#Name').siblings('span.error').css('visibility', 'hidden')
        //    }
        //})
        $('#Save').click(function () {
            debugger;
            var isallvalid = true;
            if ($('#Name').val().trim() == "") {
                $('#Name').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#Name').siblings('span.error').css('visibility', 'hidden')
            }

            if (isallvalid) {
                var chek = $('#hidep').val();

                if ($('#hidep').val() == 0) {

                    var obj = {
                        Name: $('#Name').val().toUpperCase()
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Master/Save',
                        contentType: "application/json?charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            debugger;
                        
                            $("#myModal").modal("hide");
                            var ex = "exist";
                            if (ex == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This Record Already Exist '
                                    });
                                })
                            }
                            else
                            {
                                location.reload();
                            }
                            
                        },
                    })
                }
                else {
                    var id = $('#hidep').val();
                    var obj2 = {
                        Name: $('#Name').val().toUpperCase()
                    }//
                    $.ajax({
                        type: 'Get',
                        url: '/Master/updatesave?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        data: obj2,
                        success: function (data) {
                            debugger;
                            $("#myModal").modal("hide");
                            var ex = "exist";
                            if (ex == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This Record Already Exist '
                                    });
                                })
                            }
                            else {
                                location.reload();
                            }

                        },
                    })
                }
            }
        });
    </script>
}