﻿@model List<payrollado.Models.SetupModel>
@{
    ViewBag.Title = "AddEmployee";
}

@section Styles {
    <link href="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
        span.error {
            display: block;
            visibility: hidden;
            color: red;
            font-size: 100%;
        }

        tr.error {
            background-color: rgba(255,0,0,0.35);
        }
    </style>
}

<button class="btn btn-primary" id="call" style="margin-top:30px;">Add Employee Type</button>
@{
    payrollEntities4 db = new payrollEntities4();
    var chk = db.EmployeeTypes.ToList();
    if (chk.Count != 0)
    {
        @Html.Partial("_Tablerenemp", Model)

    }
}
<div class="text-danger">
    @ViewBag.msg
</div>
@section Models
    {
    <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-lg  modal-dialog ">
            <div class="modal-content">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add a EmployeeType</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="dvCreate"></div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" style="margin-top:15px;" value="Save" id="Save" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section
    scripts
        {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">
        $('.myclass2').click(function () {
            debugger;
            var id = $(this).val();
            bootbox.confirm("Do You Really want to delete record? ", function (result) {
                if (result) {
                    debugger;
                    $.ajax({
                        type: 'Get',
                        url: '/Master/DeleteEmployee?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        success: function (data) {
                            debugger;
                            var no = "no";
                            if (no == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This record Has Been Used '
                                    });
                                })
                            }
                            else {
                                location.reload();
                            }
                        },
                    })
                }
            })
        })
        $('#call').click(function () {
            debugger;
            $.ajax({
                type: 'Get',
                url: '/Master/CreateEmployee',
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();
                    $('#EmployeeTypeName').change(function () {
                        if ($('#EmployeeTypeName').val().trim() != "") {
                            $('#EmployeeTypeName').siblings('span.error').css('visibility', 'hidden')
                        }
                        else {
                            $('#EmployeeTypeName').siblings('span.error').css('visibility', 'visible')
                        }
                    });

                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('.myclass').click(function () {
            debugger;
            var id = $(this).val();
            //$('.myclass').data('id');
            $.ajax({
                type: 'Get',
                url: '/Master/updateEmployee?id=' + id,
                contentType: "application/json",
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#dvCreate').html(data);
                    $("#myModal").modal();

                },
                error: function (error) {
                    console.log(error)
                }
            });
        });
        $('#Save').click(function () {
            debugger;
            var isallvalid = true;
            var chek = $('#hidemp').val();
            if ($('#EmployeeTypeName').val().trim() == "") {
                $('#EmployeeTypeName').siblings('span.error').css('visibility', 'visible')
                isallvalid = false;
            }
            else {
                $('#EmployeeTypeName').siblings('span.error').css('visibility', 'hidden')
            }
            if (isallvalid) {
                if ($('#hidemp').val() == 0) {
                    var obj = {
                        EmployeeTypeName: $('#EmployeeTypeName').val().toUpperCase()
                    }
                    $.ajax({
                        type: 'Post',
                        url: '/Master/SaveEmployee',
                        contentType: "application/json?charset=utf-8",
                        data: JSON.stringify(obj),
                        success: function (data) {
                            $("#myModal").modal("hide");
                            var ex = "exist";
                            if (ex == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This Record Already Exist '
                                    });
                                })
                            }
                            else {
                                location.reload();
                            }

                        },
                    })
                }
                else {
                    var id = $('#hidemp').val();
                    var obj2 = {
                        EmployeeTypeName: $('#EmployeeTypeName').val().toUpperCase()
                    }
                    $.ajax({
                        type: 'Get',
                        url: '/Master/updatesaveEmployee?id=' + id,
                        contentType: "application/json?charset=utf-8",
                        data: obj2,
                        success: function (data) {
                            debugger;
                            $("#myModal").modal("hide");
                            var ex = "exist";
                            if (ex == data) {
                                $(function () {
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'bottom',
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    Toast.fire({
                                        type: 'error',
                                        title: 'This Record Already Exist '
                                    });
                                })
                            }
                            else {
                                location.reload();
                            }

                        },
                    })
                }
            }
        });
    </script>
}
