﻿
@model payrollado.Models.SetupModel
@{
    ViewBag.Title = "Index";
}
@section Styles {

    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/plugins/tempusdominus-bootstrap-4/css/glyphicon.css" rel="stylesheet" />

}
    <div id="calender">

    </div>

    @section Models
    {
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    </div>
                    <div class="modal-body">
                        <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                        <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModalSave" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Save Event</h4>
                    </div>
                    <div class="modal-body">
                        <form class="col-md-12 form-horizontal">
                            <input type="hidden" id="hdEventID" value="0" />
                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" id="txtSubject" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Start</label>
                                <div class="input-group date" id="dtp1">
                                    <input type="text" id="txtStart" class="form-control" />
                                    @*<span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>*@
                                </div>
                            </div>
                            @*<div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="chkIsFullDay" checked="checked" />Is Full Day event</label>
                                </div>
                            </div>*@
                            <div class="form-group" id="divEndDate">
                                <label>End</label>
                                <div class="input-group date" id="dtp2">
                                    <input type="text" id="txtEnd" class="form-control" />
                                    @*<span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="txtDescription" rows="1" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Theme Color</label>
                                <select id="ddThemeColor" class="form-control">
                                    <option value="">Default</option>
                                    <option value="orange">Orange</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSave" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }

<!-- ./wrapper -->
<!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery UI -->
<!-- AdminLTE App -->
<script src="../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../dist/js/demo.js"></script>
<!-- fullCalendar 2.2.5 -->
<!-- Page specific script -->
@section
    scripts
        {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>


    <script>

        $(document).ready(function () {
            debugger;
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/Master/Getevent",
                    success: function (data) {
                        console.log(data);
                        $.each(data, function (i, v) {
                          
                            events.push({
                                eventid: v.HolidayId,
                                title: v.HolidayTitle,
                                description: v.Description,
                                start: v.HolidayDateS,
                                end: v.HolidayDateE != null ? v.HolidayDateE : null,
                                color: v.Color,
                                allday: v.Fullday
                            });
                        })
                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function GenerateCalender(events) {
                debugger;
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    header: {
                        left: 'prev,next',
                        center: 'title',
                        right: 'month'
                    },
                    eventLimit: true,
                    eventColor: '#FF5733',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        debugger;
                        selectedEvent = calEvent;
                        console.log(selectedEvent);
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);
                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            eventid: event.eventID,
                            title: event.title,
                            description: event.description, 
                            start: event.start.format('DD/MM/YYYY HH:mm A'),
                            end: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                            color: event.color,
                            allday: event.allDay
                        };
                        SaveEvent(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                debugger;
                if (selectedEvent != null && confirm('Are you sure?')) {
                    debugger;
                    $.ajax({
                        type: "POST",
                        url: '/Master/DeleteEvent',
                        data: { 'holidayid': selectedEvent.eventid },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })
            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm A'
            });
            //$('#chkIsFullDay').change(function () {
            //    if ($(this).is(':checked')) {
            //        $('#divEndDate').hide();
            //    }
            //    else {
            //        $('#divEndDate').show();
            //    }
            //});
           

            function openAddEditForm() {
                if (selectedEvent != null) {
                    debugger;
                    $('#hdEventID').val(selectedEvent.eventid);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }
            $('#btnSave').click(function () {
                debugger;
                //Validation/
                if ($('#txtSubject').val().trim() == "") {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }
                debugger;
                var data = {
                    
                    hdEventID: $('#hdEventID').val(),
                    title: $('#txtSubject').val().trim(),
                    start: $('#txtStart').val().trim(),
                    end: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    description: $('#txtDescription').val(),
                    color: $('#ddThemeColor').val(),
                    allday: $('#chkIsFullDay').is(':checked')
                }
                SaveEvent(data);
                // call function for submit data to the server
            })
            function SaveEvent(data) {
                debugger;
                $.ajax({
                    type: "POST",
                    url: '/Master/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })

    </script>

}






